<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/Chapter_2_Input_Processing_and_Output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 2: Input, Processing, and Output

## Using Colab
* Save the notebook to your google drive first!
  * File > Save a copy in drive
  * Or else you won't be able to save changes you make

![save_to_drive.png](https://drive.google.com/uc?export=view&id=1OYaR1Dp_OdoShe0nWmcbpuQqYf-kuZAz)

![google_colab.png](https://drive.google.com/uc?export=view&id=1OTYo_sTEuz6nGkrrIEBp7DYWHa-BzSkp)

## Flowcharts

* **Flowchart**: diagram that graphically depicts the steps in a program

* **Ovals** are terminal symbols

* **Parallelograms** are input and output symbols

* **Rectangles** are processing symbols

* **Diamonds** are decision symbols

* Symbols are connected by arrows that represent the flow of the program

In [ ]:
#@title Flowchat example
from graphviz import Digraph
# Create Digraph object
dot = Digraph()

# Add nodes 1 and 2
dot.node('1','Start', shape = 'oval')
dot.node('2','Input the hours worked', shape = 'parallelogram')
dot.node('3','Input the hourly pay rate', shape = 'parallelogram')
dot.node('4','Gross pay = hours worked multiplied by pay rate', shape ='box')
dot.node('5','Display the gross pay', shape ='parallelogram')
dot.node('6','End', shape = 'oval')

# Add edge between 1 and 2
dot.edges(['12','23','34','45','56'])

dot

## Input, Processing, and Output
* Typically, computer performs three-step process
* Receive input
  * Input: any data that the program receives while it is running
* Perform some process on the input
  * **The sequence of process**: Top to Bottom. One line at a time.
  * Example: mathematical calculation
* Produce output

## Displaying output = $\texttt{print}$

* $\texttt{print}$ function: displays output on the screen
* function = a prewritten code that performs an operator
* argument = data given to a function

## Strings and string literals
* **String**: sequence of characters that is used as data
* **String literal**: string that appears in actual code of a program
* Three ways of declaring a string:
  1. Single quotation mark (')
  2. Double quotation mark (")  
  3. Triple quotes (''' or """): can use both ' and " and newline (\n)

In [1]:
print('Hello world')

Hello world

In [2]:
print('Kate Austen')
print('123 Full Circle Drive')
print('Ashevilla, NC 28999')

print("Kate Austen")
print("123 Full Circle Drive")
print("Ashevilla, NC 28999")

Kate Austen
123 Full Circle Drive
Ashevilla, NC 28999
Kate Austen
123 Full Circle Drive
Ashevilla, NC 28999

In [3]:
print("Don't fear!")
print("I'm hear!")

print('Your assigment is to read "Hamlet" by tomorrow.')

Don't fear!
I'm hear!
Your assigment is to read "Hamlet" by tomorrow.

In [4]:
print("""One
Two
Three
I'm "Jimmy"
""")

One
Two
Three
I'm "Jimmy"

## Comments
* Comments: Note of explanation within program
* Ignored by Python interpreter
* Begin with a # character
* Use to explain the code (**very important!!**)

In [5]:
## This program displays a person's name and address
print("Kate Austen")                  ## Name
print("123 Full Circle Drive")        ## Address 1
print("Ashevilla, NC 28999")          ## City, State, Zipcode

Kate Austen
123 Full Circle Drive
Ashevilla, NC 28999

## Codes and Characters
* Each character is coded as a byte
* Most common coding system is ASCII (Pronounced as-key)
* ASCII = American National Standard Code for Information Interchange

## ASCII Features
* 7-bit code
* $2^7$ = 128 codes
* A way to convert characters to a number

![ASCII_Table.png](https://drive.google.com/uc?export=view&id=1gzV9NS6-el3StrORxvSmuaYWfsO2bKZr)

## Variables

* Variable: name that represents a value stored in the computer memory
  *  Used to access and manipulate data stored in memory
  *  A variable references the value it represents
* Assignment statement: used to create a variable and make it reference data
  * **Syntax**: $\texttt{variable = expression}$
  * Assignment operator: the equal sign (=)
  * Example: age = 25
* A variable can be passed as an argument to a function

In [6]:
age = 25
print(age)

25

In [7]:
# This program demonstrates a variable.
room = 513
print('I am staying in room number')
print(room)

I am staying in room number
513

In [8]:
# Create two variables: top_speed and distance.
top_speed = 160
distance = 350

# Display the values references by the variables
print('The top speed is')
print(top_speed)
print('The distance traveled is')
print(distance)

The top speed is
160
The distance traveled is
350

### Variable Naming Rules
* Rules for naming variables in Python:
  * Variable name cannot contain spaces
  * First character **must** be a **letter** or an **underscore**
  * After first character, you may use letters, digits, or underscores
  * Variable names are case sensitive
  * Variable name cannot be a *Python reversed keyword*
* **Name your variables meaningfully!!**
  * Avoiding $\texttt{sdf}$, $\texttt{vvv}$, $\texttt{xxx}$

### Python Reversed Keywords

* keywords with special meaning suchas built-in functions or special value
* $\texttt{False}$, $\texttt{None}$, $\texttt{True}$, $\texttt{and}$,    $\texttt{as}$, $\texttt{assert}$, $\texttt{async}$, $\texttt{await}$,
 $\texttt{break}$, $\texttt{class}$, $\texttt{continue}$, $\texttt{def}$,

 $\texttt{del}$, $\texttt{elif}$, $\texttt{else}$, $\texttt{except}$,
 $\texttt{finally}$, $\texttt{for}$, $\texttt{from}$, $\texttt{global}$,
 $\texttt{if}$, $\texttt{import}$, $\texttt{in}$, $\texttt{is}$,

 $\texttt{lambda}$, $\texttt{nonlocal}$, $\texttt{not}$, $\texttt{or}$,
 $\texttt{pass}$, $\texttt{raise}$, $\texttt{return}$, $\texttt{try}$,
 $\texttt{while}$, $\texttt{with}$, $\texttt{yield}$

In [9]:
# Legal variable names
units_per_day = 1
_units_ = 2
dayOftheWeek = 3

In [10]:
# Illegal variable names
3rdgraph = 1
Mixture#1 = 3

SyntaxError: invalid decimal literal (<ipython-input-10-2481af19db69>, line 2)

In [11]:
# Case sensitive
a = 1
A = 3
print(a)
print(A)

1
3

### Displaying Multiple Items with $\texttt{print}$
* $\texttt{print}$ function can take multiple arguments
* Multiple arguments are separated by commas
* Arguments displayed in the order they are passed to $\texttt{print}$
* Items are automatically separated by a space when displayed on screen

In [12]:
room = 513
print("I am staying in room number", room)

I am staying in room number 513

In [13]:
# Diplaying multiple variables and texts
first_name = "Robert"
last_name = "Downey"
age = 58
print("First name =", first_name, "Last name =", last_name, ". Age: ", age)

First name = Robert Last name = Downey . Age:  58

### Variable Type
* Data types: categorize value in memory
  * $\texttt{int}$ for integer (no decimal)
  * $\texttt{float}$ for real number (decimal, floating-point number)
  * $\texttt{str}$ for string
  * $\texttt{bool}$ for boolean ($\texttt{True}$ \ $\texttt{False}$)
* Numeric literal: number written in a program
  * No decimal point considered $\texttt{int}$, otherwise, considered $\texttt{float}$

In [14]:
print(type(1))
print(type(1.0))
print(type("Hello"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Variable Reassignment
* Variables can reference different values within a program.
* Variable that has been assigned to one type can be reassigned to another type

In [15]:
dollars = 2.75
print("I have", dollars, "in my accounts.")
dollars = 99.99
print("But now I have", dollars, "in my accounts!")

I have 2.75 in my accounts.
But now I have 99.99 in my accounts!

In [16]:
# Sequential assignment ex1
x = 1
x = 2
x = 3
print(x)

3

In [17]:
# Sequential assignment ex2
x = 1
y = x
x = 2
print(x)
print(y)

2
1

In [18]:
## string variables
dollars = "ninety-nine"
print("I have", dollars, "in my accounts.")
dollars = 99   # reassign to int type
print("I have", dollars, "in my accounts.")
dollars = 99.99 # reassign to float type
print("I have", dollars, "in my accounts.")

I have ninety-nine in my accounts.
I have 99 in my accounts.
I have 99.99 in my accounts.

## Math Operators
| Symbol  | Operator | Description |
|:--------:|:--------|:--------|
|$\texttt{+}$ | Addition | Adds two numbers |
|$\texttt{-}$ | Subtraction | Subtracts one number from another |
|$\texttt{*}$ | Multiplication | Multiplies one number by another |
| $\texttt{/}$ | Division | Divides one number by another and gives the result as a floating-point number |
|$\texttt{//}$ | Integer Division | Divides one number by another and gives the result as an interger number <br> (**always round down!!**) |
| $\texttt{%}$ | Remainder | Divides one number by another and gives the remainder. (Modulus operator) |
| $\texttt{**}$ | Exponent | Raises a number to a power. $\texttt{x ** y} = x^y$ |

In [19]:
# Examples
x = 3
y = 4
z = x + y
print(z)

print(x-y)
print(x*y)
print(x**y)

7
-1
12
81

In [20]:
# Operator and assignment
x = 5
x = x + 1
print(x)

6

In [21]:
# Two types of divisions:
print(5/2)
print(5//2)
print(-5//2)

2.5
2
-3

In [22]:
# Remainder Ex 1
print(2%2)
print(3%2)
print(4%2)
print(5%2)

## % 2 can use to determine even or odd

0
1
0
1

In [23]:
# Remainder Ex 2
print(0%3)
print(1%3)
print(3%3)
print(4%3)
print(5%3)

0
1
0
1
2

### Operator Precedence
* Python operator precedence:
  1.  Operations enclosed in parentheses ()
  2.  Exponentiation ($\texttt{**}$)
  3.  Multiplication ($\texttt{*}$), division ($\texttt{/}$ and $\texttt{//}$), and remainder ($\texttt{%}$)
  4.  Addition ($\texttt{+}$) and subtraction ($\texttt{-}$)
* Higher precedence performed first
* Same precedence operators execute from left to right

### Operator Precedence Examples
* 12.0 + 6.0 / 3.0

* = 12.0 + 2.0

* = 14.0

In [24]:
# Operator Exercise #1:
print( 5 + 2 * 4 )


print( 10 / 2 - 3 )


print( 8 + 12 * 2 - 4 )


print(  6 -  3 * 2 + 7 - 1 )

13
2.0
28
6

In [25]:
# Operator Exercise #2:

print( (5 + 2) * 4 )

print( 10 / (5 - 3))

print( 8 + 12 * (6 - 2))

print( (6 - 3) * (2 + 7) / 3)

28
5.0
56
9.0

### Converting Math Formulas to Programming Statements
* May need to add multiplication operators
* May need to insert parenthese.

|   Algebraic Expression   |   Python Statement |
|:--------:|:--------|
|$y = 3\frac{x}{2}$       | $\texttt{ y = 3 * x /2}$ |
|$z  = 3bc +4$            | $\texttt{ z = 3 * b * c + 4}$ |
|$a  = \frac{x + 2}{b-1}$ | $\texttt{ a = (x + 2)/(b - 1)}$|

## Reading input from the keyboard: $\texttt{input}$
* $\texttt{input}$ reads input from the keyboard.
* press 'enter' to submit the input
* $\texttt{input}$ function **always** returns a **string**!!
* Built-in functions to convert between data types
  * $\texttt{int(item)}$ converts item to $\texttt{int}$
  * $\texttt{float(item)}$ converts into to $\texttt{float}$
  * $\texttt{item}$ musts be a valid numeric value.

In [27]:
# Get the user's name, age, and income.
name = input("What is your name?")
age = int((input("What is your age?")))
income = float(input("What is your income?"))

# Display the data
print("Here is the data you entered:")
print("Name:", name)
print("Age:", age)
print("Income:", income)

What is your name?Nut
What is your age?32
What is your income?41000
Here is the data you entered:
Name: Nut
Age: 32
Income: 41000.0

In [28]:
# Hours worked example
# input returns string so you need to convert to int or float!
hours = input("Hours worked:")
rate  = input("Hourly pay rate:")
gross_pay = hours*rate

print("Gross pay", gross_pay)

Hours worked:10
Hourly pay rate:30

TypeError: can't multiply sequence by non-int of type 'str'

In [29]:
# Time Converter Example
## Problem: Receive a number of seconds from the user.
##       then turn it into hour:min:second
## Ex: input = 3666
##   output:
##     hour = 1
##     min  = 1
##   second = 6

# Get a number of seconds from the user.
total_seconds = float(input('Enter a number of seconds: '))

# Get the number of hours.
hours = total_seconds // (60*60)

# Get the number of remaining minutes
minutes = (total_seconds // 60) % 60

# Get the number of remaining seconds
seconds = total_seconds % 60

# display the results
print("Here is the time in hours, minutes, and seconds.")
print("Hours:", hours)
print("Minutes", minutes)
print("Seconds", seconds)

Enter a number of seconds: 1000
Here is the time in hours, minutes, and seconds.
Hours: 0.0
Minutes 16.0
Seconds 40.0

## Breaking Long Statement into Multiple Lines
* Long statements cannot be viewed on screen without scrolling and cannot be printed without cutting off
* Multiline continuation character ($\texttt{\\}$): Allows to break a statement into multiple lines
* Any part of a statement that is enclosed in parentheses can be broken without the line continuation character.

In [ ]:
long_string = "This is a very long string that I want to split over multiple lines. \
               It makes the code more readable and easier to maintain."

print(long_string)

In [ ]:
var1 = 3
var2 = 4
var3 = 5
var4 = 5

coef0 = 1
coef1 = 2
coef2 = 2
coef3 = 2
coef4 = 2

result = (coef0 + coef1 * var1 + coef2 * var2 +
                  coef3 * var3 + coef4 * var4)

print(result)

## Summary so far
* Desinging a program, Pseudocode, Flowcharts
* $\texttt{print}$: displaying output
* String and how to declare them
* Comments with #
* Variables, Variable assignment, Variable Naming
* Variable types (int, float, string)
* Math Operators and operator precedence
* $\texttt{input}$: reading input from the keyboard

In [ ]:
# Q1: What will the following program output?
Hello = "hello"
World = "world"

print(Hello, "World", "Hello", World)

In [ ]:
# Q2: What will the following program output?
x = 11
y = x // 3
z = x % 2

print(y*z)

In [ ]:
# Q3: What will the following program output?
a = 3
b = 4
c = (a**2 + b**2)**0.5

print(c)

In [ ]:
# Q4: What will the following program output?
num = 12345
print(num%10)
num = num//10
print(num)
print(num%10)

In [ ]:
# Q5: There is a bug in the following code. Fix it
x = input("Enter x: ")
num = x % 2
print("Result = ", num)

In [ ]:
# Exercise #1: Convert Fahrenheit to Celsius
## Input = Farenheit. Output = Celsius.
## Formula: C = (F - 32)*5/9

In [ ]:
# Exercise #2: Second-order Polynomial Calculation
## Input: A, B, C, x. Output: y.
## y = Ax^2 + Bx + C

In [ ]:
# Exercise #3: Student GPA Report
## Input: Name, Math GPA, Science GPA, English GPA.
## Output:
###   "Name: xxx yyy"
###   "Math: x"
###   "Science: y"
###   "English: z"
###   "Name's average GPA: avg"
## Avg = (math + science + english)/3

## Formatting output
* $\texttt{print}$ function formatting
* number formatting (digits, comma, and space)
* string formatting

## $\texttt{print}$ formatting

* $\texttt{print}$ displays line of output
  * Newline character at end of printed data
  * Special argument $\texttt{end="string"}$ causes $\texttt{print}$ to place the string <br>
  at end of data instead of newline character
* print function uses space as item separator
  * Special argument $\texttt{sep="string"}$ causes $\texttt{print}$ to use the string as <br>
  item separator
* Default version of print: print('',end='\n',sep=' ')

In [30]:
# print - end parameter
print('One', end =' ')
print('Two', end =' ')
print('Three')
print('Four')

One Two Three
Four

In [31]:
# print - sep parameter
print("One","Two","Three")
print("One","Two","Three",sep="")
print("One","Two","Three",sep="*")

One Two Three
OneTwoThree
One*Two*Three

## Special Characters in string literal
* Preceded by backslash ($\\$)
* Treated as commands embedded in string
* Counted as one character

| Escape character | Effect           |
| :--------------- | :----------------|
| $\texttt{\n}$| New line |
| $\texttt{\t}$| Tab |
| $\texttt{\'}$| a single quote mark |
| $\texttt{\"}$| a double quote mark |
| $\texttt{\\\\}$| a backlash character|

In [32]:
print("One\nTwo\nThree")

One
Two
Three

In [33]:
print("One\tTwo\tThree\"\\")

One	Two	Three"\

## Magic Numbers
* A magic number is an unexplained numeric value that appears in a program’s code.

  * Examples: $\texttt{amount = balance * 0.069}$


* What is the value 0.069? An interest rate? A fee percentage? <br> Only the person who wrote the code knows for sure.

### Problem with magic numbers
* It can be difficult to determine the purpose of the number.


* If the magic number is used in multiple places in the program, <br> it can take a lot of effort to change the number in each location.


* You take the risk of making a mistake each time you type the magic <br> number in the program’s code.

* For example, suppose you intend to type 0.069, but you accidentally type .0069. <br> This mistake will cause mathematical errors that can be difficult to find.

### Solution: Named Constants
* You should use named constants instead of magic numbers.
* A named constant is a name that represents a value that does not change <br> during the program's execution.
* Typically, Named constats are in UPPERCASE.
* Example:
  * $\texttt{INTEREST_RATE = 0.069}$

* This creates a named constant named INTEREST_RATE, assigned the value 0.069. It can be used instead of the magic number:

  * $\texttt{amount = balance * INTEREST_RATE}$

### Advantages of using Named Constants
* Make code self-explanatory (self-documenting)

* Make code easier to maintain (change the value assigned to the constant, <br> and the new value takes effect everywhere the constant is used)

* Help prevent typographical errors

## f-strings
* New in python 3.6
* Also called “formatted string literals,”
* f-strings are string literals that have an **f at the beginning** and **curly braces <br> containing expressions or variables** that will be replaced with their values.
* f-strings numerical format: $\texttt{f"{value:{width}.{precision}}"}$

In [34]:
# f-string ex1
name = "Eric"
age = 74
print(f"Hello, {name}. You are {age}.")

Hello, Eric. You are 74.

In [35]:
# f-string ex2
first_name = "Eric"
last_name = "Idle"
age = 74
profession = "comedian"
affiliation = "Monty Python"

print(f"Hello, {first_name} {last_name}. You are {age}. " +
      f"You are a {profession}. " +
      f"You were a member of {affiliation}.")

Hello, Eric Idle. You are 74. You are a comedian. You were a member of Monty Python.

In [36]:
# f-string ex3: expression
name = "eric"
sentence = f'{name + " Downy"} is funny.'
print(sentence)

eric Downy is funny.

In [37]:
# f-string ex4: expressions
a = 5
b = 10
print(f'Five plus ten is {a + b} and not {2 * (a + b)}.')

Five plus ten is 15 and not 30.

In [38]:
# f-strings ex5: formating digits
# f"{value:{width}.{precision}}""
x = 3.14159265
print(f'PI = {x:.2f}')

x = 12345.6789
print(f"x = {x:,.2f}")

PI = 3.14
x = 12,345.68

## Summary
* Desinging a program, Pseudocode, Flowcharts
* $\texttt{print}$: displaying output
* String and how to declare them
* Comments with #
* Variables, Variable assignment, Variable Naming
* Variable types (int, float, string)
* Math Operators and operator precedence
* $\texttt{input}$: reading input from the keyboard
* $\texttt{eval}$: evaluate an expression.
* Formatting output
  * $\texttt{print}$ formatting ($\texttt{end}$ and $\texttt{sep}$)
  * number formatting (digits, comma, space)
  * String formatting (%, format, f-strings)