<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/Chapter_5_List_and_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 5 List and Tuple

https://github.com/yongsa-nut/TU_Intro_Prog/

## Sequences
* **Sequence**: an object that contains multiple items of data
  * The items are stored in sequence one after another

* Python provides different types of sequences, including $\texttt{list}$ and $\texttt{tuple}$
  * The **key** difference is that a $\texttt{list}$ is *mutable* and a $\texttt{tuple}$ is *immutable*

## Introduction to $\texttt{list}$
* $\texttt{list}$: a list of items enclosed in [ ] and separeted by commas.
  * Syntax: $\texttt{list = [item1, item2, item3]}$
  * items can be any data type (int, float, string, etc.)
* $\texttt{print}$ can be used to display the entire list.

In [1]:
# Creating a list ex1:

## Sequence of numbers
seq1 = [1, 2, 3, 4, 5]

## Sequence of string
seq2 = ["A","B","C","D"]

## Sequence of mixed dta type
seq3 = [True,False,0,1,"True","False"]

print(seq1)
print(seq2)
print(seq3)

[1, 2, 3, 4, 5]
['A', 'B', 'C', 'D']
[True, False, 0, 1, 'True', 'False']

### Indexing

* You access elements in the list by indexing
* Index: a number specifying the position of an element in a list
* Syntax: $\texttt{list[i]}$, where $\texttt{i}$ is the index
* **Importance**: The first index is 0!!
  * Sequence of index: $\texttt{0, 1, ..., n - 1}$, where $\texttt{n}$ = the length of the list.
* Negative indexes identify positions from the end of the list.
  * $\texttt{-1}$ = the last element. $\texttt{-2}$ the second to last element.

In [2]:
# Indexing ex1

seq1 = ["A","B","C","D","E","F"]
#index:  0 , 1 , 2 , 3 , 4 , 5

print(seq1[0])
print(seq1[1])
print(seq1[5])

A
B
F

In [3]:
# Indexing ex2: backward

seq1 = ["A","B","C","D","E","F"]
#back:  -6, -5, -4, -3, -2, -1

print(seq1[-1])
print(seq1[-3])
print(seq1[-5])

F
D
B

In [4]:
# Indexing ex3: error index out of range

seq1 = ["A","B","C","D","E","F"]

print(seq1[6])

IndexError: list index out of range

### $\texttt{len}$ function
* $\texttt{len}$ function returns the length of a sequence such as a list
* Syntax: $\texttt{len(list)}$
* The index of the last element: $\texttt{len(list) -1}$

In [5]:
# Len examples

seq1 = ["A","B","C","D","E","F"]

print(len(seq1))

print(f"Last element: {seq1[len(seq1)-1]}")

6
Last element: F

## $\texttt{list}$ is mutable
* **mutable**: the items in the sequence can be changed.
* $\texttt{list}$ is mutable.
* Assigning new value: $\texttt{list[1] = new_value}$
* index has to be valid (not out of range).

In [6]:
seq1 = ["A","B","C","D","E","F"]

print(f"Before seq1[1] = {seq1[1]}")
seq1[1] = "O"
print(f"After seq1[1] = {seq1[1]}")
seq1[1] = 2
print(f"After2 seq1[1] = {seq1[1]}")

Before seq1[1] = B
After seq1[1] = O
After2 seq1[1] = 2

## Iterate over a list

* You can iterate over a list using for loop.
* Syntax: $\texttt{for item in list:}$

In [8]:
seq1 = ["A","B","C","D","E","F"]

for string in seq1:
  print(string)

A
B
C
D
E
F

## Another way to iterate over a list using index
- index is just a number.
- `range()` can be used together with `len()` to generate a sequence of number from 0 to n-1, where n = length of the list.
- Example: $\texttt{for i in range(len(list)):}$

In [10]:
seq1 = ["A","B","C","D","E","F"]

for i in range(len(seq1)):
  print(seq1[i])

A
B
C
D
E
F

## Summary so far
* Construction: $\texttt{variable = [item1, item2, item3]}$

* Indexing: $\texttt{variable[i]}$

* Mutable & Assignment: $\texttt{variable[i] = new_time}$

* $\texttt{len}$: returns the length of a list

* for loop:  $\texttt{for item in variable:}$

In [11]:
# list recap ex1:
## Finding the sum of age

## creating a list
ages = [24, 50, 17, 28, 50]

total = 0

## loop over list
for age in ages:
  total += age
print(f"The sum of all ages = {total}")

The sum of all ages = 169

In [12]:
# list recap ex2:
## Finding the sum of age with indexing

## creating a list
ages = [24, 50, 17, 28, 50]

total = 0

## loop over list
for i in range(len(ages)):
  total += ages[i]
print(f"The sum of all ages = {total}")

The sum of all ages = 169

In [13]:
# list recap ex3:
## Updating age into old or young
OLD_THRESHOLD = 30
ages = [24, 50, 17, 28, 50]

for i in range(len(ages)):
  if ages[i] > OLD_THRESHOLD:
    ages[i] = "old"
  else:
    ages[i] = "young"

print(ages)

['young', 'old', 'young', 'young', 'old']

## Continue after Midterm

## list slicing
* **Slice**: a span of items that are taken from a sequence
* Syntax: $\texttt{list[start:end:step]}$
* Span is a list containing copies of elements from $\texttt{start}$ **up to, <br> but not including, $\texttt{end}$**.
  * If $\texttt{start}$ is not specified, the default $\texttt{start}$ is 0.
  * If $\texttt{end}$ is not specified, the default $\texttt{end}$ is $\texttt{len(list)}$
  * If $\texttt{step}$ is not specified, the default $\texttt{step}$ is 1.
* Negative indexes work with slicing.

In [14]:
# list slicing ex1:

seq1 = ["A","B","C","D","E","F"]

print(seq1[1:3])

['B', 'C']

In [15]:
print(seq1[:3])

['A', 'B', 'C']

In [16]:
print(seq1[2:])

['C', 'D', 'E', 'F']

In [17]:
print(seq1[:])

['A', 'B', 'C', 'D', 'E', 'F']

In [18]:
print(seq1[1::2])

['B', 'D', 'F']

In [19]:
print(seq1[-1::-2])

['F', 'D', 'B']

In [20]:
# list slicing ex2:

numbers = [1, 2, 3, 4, 5]

print(numbers[1:3])

[2, 3]

In [21]:
print(numbers[:4])

[1, 2, 3, 4]

In [22]:
print(numbers[3:])

[4, 5]

In [24]:
print(numbers[::2])

[1, 3, 5]

In [23]:
print(numbers[-1:-3:-2])

[5]

## List Operators: $\texttt{*}$
* $\texttt{*}$ : a repition operator
  * Syntax: $\texttt{list * n}$
  * Creates a new $\texttt{list}$ which repeats the old $\texttt{list n}$ times

In [25]:
# * ex1
num1 = [1,2,3]
num2 = num1 * 3
print(num2)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [26]:
# * ex2
zeros = [0]*5
print(zeros)

[0, 0, 0, 0, 0]

## List Operators: $\texttt{+}$
* $\texttt{+}$ : a concatenation operator
  * Syntax: $\texttt{list1 + list2}$
  * Creates a new $\texttt{list}$ which concatenate the two lists together

In [28]:
# + ex
seq1 = ["A","B","C","D","E","F"]
seq2 = ["G","H","I"]
seq3 = seq1 + seq2

print(f"{seq1} + {seq2} = {seq3}")

['A', 'B', 'C', 'D', 'E', 'F'] + ['G', 'H', 'I'] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

## List Operators: $\texttt{in}$
* $\texttt{in}$ : finding item in a list
  * Syntax: $\texttt{item in list}$
  * returns $\texttt{True}$ if the item is in the list, $\texttt{False}$ if it is not in the list.
  * $\texttt{not in}$ to check if an item is not in the list.

In [29]:
# in example
prod_nums = ["V475","F987","Q143","R688"]

search = input("Enter the product number: ")

if search in prod_nums:
  print(search, "was found in the list.")
else:
  print(search, "was not found in the list.")

Enter the product number: V475
V475 was found in the list.

## List Operators Summary
* $\texttt{*}$ : a repition operator
  * Syntax: $\texttt{list * n}$
  * Creates a new $\texttt{list}$ which repeats the old $\texttt{list n}$ times
* $\texttt{+}$ : a concatenation operator
  * Syntax: $\texttt{list1 + list2}$
  * Creates a new $\texttt{list}$ which concatenate the two lists together
* $\texttt{in}$ : finding item in a list
  * Syntax: $\texttt{item in list}$
  * returns $\texttt{True}$ if the item is in the list, $\texttt{False}$ if it is not in the list.
  * $\texttt{not in}$ to check if an item is not in the list.

## List method: $\texttt{append}$
* Method general format: $\texttt{list.method(params)}$
  * Methods modify the list
* $\texttt{append(item)}$: add items to the *end* of the list.

In [30]:
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 5, 6]

## List method: $\texttt{index}$
* $\texttt{index(item)}$: determine the index of an item in the list.
  * the item must be in the list, else $\texttt{ValueError}$

In [31]:
numbers = [1,2,3,4,5]
print(numbers.index(3))

2

In [32]:
print(numbers.index(7)) # error case

ValueError: 7 is not in list

## List Method: $\texttt{insert}$

* $\texttt{insert(index, item)}$: insert $\texttt{item}$ at position $\texttt{index}$ of the list

In [33]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(2, 55)
print(numbers)

[1, 2, 55, 3, 4, 5]

## List Method: $\texttt{sort}$

* $\texttt{sort()}$ sort the elements the list in ascending order (lowest to highest)

In [34]:
numbers = [1,2,3,4,5]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

## List Method: $\texttt{remove}$

* $\texttt{remove(item)}$: removes the first occurance of $\texttt{item}$ in the list
  * Raise $\texttt{ValueError}$ exception if $\texttt{item}$ is not in the list

In [35]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(2)
print(numbers)

[1, 3, 4, 5]

## List Method: $\texttt{reverse()}$

* $\texttt{reverse()}$: reverses the order of the elements in the list

In [36]:
numbers = [1,2,3,4,5]
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

## List Methods Summary
* Method general format: $\texttt{list.method(params)}$
  * Methods modify the list
* $\texttt{append(item)}$: add items to the *end* of the list.
* $\texttt{index(item)}$: determine the index of an item in the list.
  * the item must be in the list, else $\texttt{ValueError}$
* $\texttt{insert(index, item)}$: insert $\texttt{item}$ at position $\texttt{index}$ of the list
* $\texttt{sort()}$ sort the elements the list in ascending order (lowest to highest)
* $\texttt{remove(item)}$: removes the first occurance of $\texttt{item}$ in the list
  * Raise $\texttt{ValueError}$ exception if $\texttt{item}$ is not in the list
* $\texttt{reverse()}$: reverses the order of the elements in the list

## $\texttt{del}$ built-in function
* $\texttt{del}$ statement: removes an element from a specific index in a list
* Syntax: $\texttt{del list[i]}$

In [37]:
seq1 = ["A","B","C","D","E","F"]

del seq1[1]

print(seq1)

del seq1[-1]

print(seq1)

['A', 'C', 'D', 'E', 'F']
['A', 'C', 'D', 'E']

## Useful Built-in functions
* $\texttt{min}$ and $\texttt{max}$ functions: returns the minimum and maximum values in the list.
  * Syntax: $\texttt{min(list)}$ and $\texttt{max(list)}$
* $\texttt{sum}$ function: returns the sum of all values in the list
  * Syntax: $\texttt{sum(list)}$

In [38]:
# max min sum example
numbers = [1, 2, 3, 4, 5]

print("The minimum value is ", min(numbers))
print("The maximum value is ", max(numbers))
print("The sum is ", sum(numbers))

The minimum value is  1
The maximum value is  5
The sum is  15

## List Referencing

* Consider a case when you create a list and assign it to a variable. <br> $\texttt{list1 = [1,2,3,4]}$

* When you assign a list to another variable, the new variable will <br> point to the same list in the memory.
<br> $\texttt{list2 = list1}$
* The assignment just copies the reference to the list, not the actual list.
<br><br>

&emsp;&emsp;&emsp;&emsp;&emsp;![function1.png](https://drive.google.com/uc?export=view&id=1O7Us32iHPMdx6-nSOTnh1EP7xKHDYX-n)

In [39]:
# List referencing
list1 = [1,2,3,4]
list2 = list1
print(f"Before: list1 = {list1}, list2 = {list2}")

list1[1] = 0

print(f"After: list1 = {list1}, list2 = {list2}") # both change

Before: list1 = [1, 2, 3, 4], list2 = [1, 2, 3, 4]
After: list1 = [1, 0, 3, 4], list2 = [1, 0, 3, 4]

## Copying lists

* To make a copy of a list you must copy each element of the list

* Two methods to do this:
  * Creating a new empty list and using a for loop to add a copy of <br> each  element from the original list to the new list
  * Creating a new empty list and concatenating the old list to the new empty list

In [40]:
# Copy method 1:
## create a new empty list and loop to add the old list into it
# old list
list1 = [1, 2, 3, 4]

# new list
list2 = []

for item in list1:
  list2.append(item)

## copy test
list1[0] = 0
print(f"list1 = {list1}, list2 = {list2}")

list1 = [0, 2, 3, 4], list2 = [1, 2, 3, 4]

In [41]:
# Copy method 2:
## create a new empty list and concate the old list
# old list
list1 = [1, 2, 3, 4]

# new list
list2 = [] + list1

## copy test
list1[0] = 0
print(f"list1 = {list1}, list2 = {list2}")

list1 = [0, 2, 3, 4], list2 = [1, 2, 3, 4]

## Pass by reference
* Recap: when you assign a list to a new variable, it only assigns the <br> reference to the list and does not create a new list.

* The main reason is because list is mutable.

* This behavior is the same when you pass a list to a function.

* This mean when the function manipulate the list, it will change the list <br> like a global variable.

## Two-dimensional lists

* The items in the list can be other lists.
* **Two-dimensional list**: a list that contains other lists as its elements
  * Common to think of two-dimensional lists as having rows and columns
  * Useful for working with multiple sets of data
* To process data in a two-dimensional list need to use two indexes
* Typically use nested loops to process

In [43]:
# 2d-list ex1:
students = [["Joe","Kim"],["Sam","Sue"],["Kelly","Chris"]]
print(students)
print(students[0])
print(students[0][1], students[0][0])

[['Joe', 'Kim'], ['Sam', 'Sue'], ['Kelly', 'Chris']]
['Joe', 'Kim']
Kim Joe

In [44]:
# 2d-list ex2:

## create a 2d board
board = [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9]]

for i in range(len(board)):
  for j in range(len(board[i])):
    board[i][j] = board[i][j]**2

print(board)

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]

## List summary
* $\texttt{list}$ is a mutable sequence
* $\texttt{list}$ construction $\texttt{[item1, item2, item3]}$
* list functions and operators: $\texttt{len, *, +, in}$
* list methods: $\texttt{append, remove, insert, reverse, sort, del}$
* list referencing (copy and pass by reference)
* Two-dimension lists

## Tuples

* Tuple: an immutable sequence
* Very similar to a list
* Once it is created it cannot be changed
* Syntax: $\texttt{tuple_name = (item1, item2)}$
* Tuples support operations as lists
  * Subscript indexing for retrieving elements
  * Methods such as index
  * Built in functions such as $\texttt{len}$, $\texttt{min}$, $\texttt{max}$, $\texttt{sum}$
  * Slicing expressions
  * The $\texttt{in}$, $\texttt{+}$, and $\texttt{*}$ operators

In [45]:
# Tuple ex1:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)
print(my_tuple[0])
print(my_tuple[::2])

(1, 2, 3, 4, 5)
1
(1, 3, 5)

In [46]:
# Tuple ex2:
## both types of for loop work
names = ("Holly","Warren","Ashley")

for n in names:
  print(n)
print("------")
for i in range(len(names)):
  print(names[i])

Holly
Warren
Ashley
------
Holly
Warren
Ashley

## Tuples are immutable
* Tuples do not support the methods:
  * $\texttt{append}$
  * $\texttt{remove}$
  * $\texttt{insert}$
  * $\texttt{reverse}$
  * $\texttt{sort}$
* Tuples do not support $\texttt{del}$ statement

## Advantage of using tuples
* Faster
* Safer
* Some operations in Python require use of tuples.

## Conversion

* $\texttt{list()}$ function: converts tuple to list
* $\texttt{tuple()}$ function: converts list to tuple
* They work with range too.
* Both methods create a new list/tuple.
  * can be used to copy list too.

In [47]:
# conversion ex1
list1 = [1, 2, 3, 4]
tuple1 = ("A", "B", "C", "D")

print(f"list1 = {list1}, tuple1 = {tuple1}")

list2 = list(tuple1)
tuple2 = tuple(list1)

print(f"list2 = {list2}, tuple2 = {tuple2}")

list1 = [1, 2, 3, 4], tuple1 = ('A', 'B', 'C', 'D')
list2 = ['A', 'B', 'C', 'D'], tuple2 = (1, 2, 3, 4)

In [48]:
# range to list and tuple

list_range1 = list(range(5))
tuple_range1 = tuple(range(5))

print(list_range1)
print(tuple_range1)

[0, 1, 2, 3, 4]
(0, 1, 2, 3, 4)

## Summary
* $\texttt{list}$ is a mutable sequence
* $\texttt{list}$ construction $\texttt{[item1, item2, item3]}$
* list functions and operators: $\texttt{len, *, +, in}$
* list methods: $\texttt{append, remove, insert, reverse, sort, del}$
* list referencing (copy and pass by reference)
* Two-dimension lists
* $\texttt{tuple}$ is an unmutable sequence.
* $\texttt{tuple}$ construction $\texttt{(item1, item2, item3)}$
* Tuples do not support mutable methods.
* Conversion using $\texttt{list()}$ and $\texttt{tuple()}$