<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/Chapter_8_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

## Dicitionaries
- **Dictionary**: object that stores a collection of data
  - Each element consists of a **key** and a **value**
  - Key must be an immutable object (string, tuple, int, float)
  - To retrieve a specific value, use the key associated with it
  - Value can be anything including list, tuple, or dictionary.

## Creating a dictionary
- A dictionary is a collection of key-value pairs
- Created using curly braces {}
- Each key-value pair is separated by a colon :
- Pairs are separated by commas ,
- Keys must be unique and immutable (e.g., strings, numbers)
- **Syntax**: `dictionary = {key1:val1, key2:val2}`
  - Example: `phonebook = {'Chris':'555−1111', 'Katie':'555−2222’}`
  - In this example, the keys and the values are strings.

In [ ]:
# Creating a dictionary example 1
my_dict = {'first': 1, 'second': 2, 'third': 3}
print(my_dict)

student = {"name": "Alice", "age": 20, "grade": "A"}
print(student)

phonebook = {'Chris':'555−1111','Katie':'555-2222','Joanne':'555-3333'}
print(phonebook)

{'first': 1, 'second': 2, 'third': 3}
{'name': 'Alice', 'age': 20, 'grade': 'A'}
{'Chris': '555−1111', 'Katie': '555-2222', 'Joanne': '555-3333'}

## Accessing values
- Syntax: `dictionary[key]`

In [ ]:
# Accessing value ex1:
phonebook = {'Chris':'555−1111','Katie':'555-2222','Joanne':'555-3333'}
print(phonebook['Chris'])
print(phonebook['Katie'])

555−1111
555-2222

## Updating/Modifying items:
- Dictionaries are mutable.
- Syntax: `dictionary[key] = new_value`

In [ ]:
# Updating value ex1:
phonebook = {'Chris':'555−1111','Katie':'555-2222','Joanne':'555-3333'}
phonebook['Chris'] = '666-1111'
phonebook['Katie'] = '666-2222'
print(phonebook)

{'Chris': '666-1111', 'Katie': '666-2222', 'Joanne': '555-3333'}

## in operator
- Check whether a key is in a dictionary

In [ ]:
phonebook = {'Chris':'555−1111','Katie':'555-2222','Joanne':'555-3333'}
print('Chris' in phonebook)
print('Mary' in phonebook)

True
False

## Cannot access keys that do not exist in the dict

In [ ]:
phonebook = {'Chris':'555−1111','Katie':'555-2222','Joanne':'555-3333'}
print(phonebook['Mary']) # will throw an error

KeyError: 'Mary'

In [ ]:
# Check using in
phonebook = {'Chris':'555−1111','Katie':'555-2222','Joanne':'555-3333'}
query = input('Enter a name: ')
if query in phonebook:
  print(phonebook[query])
else:
  print('Not found')

Enter a name: Mary
Not found

### len() function
- check the number of key-value pairs in the dict

In [ ]:
# ex len()
phonebook = {'Chris':'555−1111','Katie':'555-2222','Joanne':'555-3333'}
print(len(phonebook))

3

## Creating an empty dictionary
- Use `{}` to create an empty dictionary
- Elements can be added to the dicionary using `=`

In [ ]:
#ex1: creating a dictionary from empty

phonebook = {}
phonebook['Chris'] = '555−1111'
phonebook['Katie'] = '555−2222'
phonebook['Joanne'] = '555-3333'
print(phonebook)

{'Chris': '555−1111', 'Katie': '555−2222', 'Joanne': '555-3333'}

In [ ]:
#ex2: creating a dict from two lists
names = ['Chirs','Katie','Joanne']
numbers = ['555−1111','555-2222','555-3333']
phonebook = {}
for i in range(len(names)):
  phonebook[names[i]] = numbers[i]
print(phonebook)

{'Chirs': '555−1111', 'Katie': '555-2222', 'Joanne': '555-3333'}

## Looping through a dictionary
- `for` loop will iterate over keys in a dictionary
  - for key in dictionary:

In [ ]:
# ex 1: looping through list
phonebook = {'Chris':'555−1111','Katie':'555-2222','Joanne':'555-3333'}
for name in phonebook:
  print(f"key = {name}, value = {phonebook[name]}")

key = Chris, value = 555−1111
key = Katie, value = 555-2222
key = Joanne, value = 555-3333

## Useful dictionary methods
- `.keys()` returns all the keys in a dictionary as a sequence
- `.values()` returns all the values in the dictionary as a sequence
- `.items()` returns all the key-value pairs as a sequence of tuples in the dictionary  
- `.get(key, default)`: Gets the value associated with a specified key. If the key is not found, the method does not raise an exception. Instead, it returns a default value.

In [ ]:
# keys, values, items example
phonebook = {'Chris':'555−1111','Katie':'555-2222','Joanne':'555-3333'}
print(phonebook.keys())
print(phonebook.values())
print(phonebook.items())

dict_keys(['Chris', 'Katie', 'Joanne'])
dict_values(['555−1111', '555-2222', '555-3333'])
dict_items([('Chris', '555−1111'), ('Katie', '555-2222'), ('Joanne', '555-3333')])

In [ ]:
# Using them with for loop
phonebook = {'Chris':'555−1111','Katie':'555-2222','Joanne':'555-3333'}
for value in phonebook.values():
  print(value)

555−1111
555-2222
555-3333

In [ ]:
#Using items with for loop
phonebook = {'Chris':'555−1111','Katie':'555-2222','Joanne':'555-3333'}
for key, value in phonebook.items():
  print(f"Key = {key}, Value = {value}")

Key = Chris, Value = 555−1111
Key = Katie, Value = 555-2222
Key = Joanne, Value = 555-3333

In [ ]:
# get method
phonebook = {'Chris':'555−1111','Katie':'555-2222','Joanne':'555-3333'}
print(phonebook.get('Chris','Not found'))
print(phonebook.get('Marry','Not found'))

In [ ]:
# Get equivalent to if else with check in
phonebook = {'Chris':'555−1111','Katie':'555-2222','Joanne':'555-3333'}
query = 'Mary'
default = 'Not found'

# using if else and in
if query in phonebook:
  print(phonebook[query])
else:
  print(default)

# using get
print(phonebook.get(query, default))

Not found
Not found

## Counting things with dictionary
- Dictionaries are excellent for counting occurrences
- Use keys for items and values for counts
- Utilize the get() method with a default value

In [ ]:
# Counting with out get
sentence = "The curious cat carefully crept closer to the colorful butterfly but the butterfly fluttered away leaving the cat curious about the butterfly's quick escape"

sentence = sentence.lower()
sentence = sentence.split()

word_count = {}
for word in sentence:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1

print(word_count)

{'the': 5, 'curious': 2, 'cat': 2, 'carefully': 1, 'crept': 1, 'closer': 1, 'to': 1, 'colorful': 1, 'butterfly': 2, 'but': 1, 'fluttered': 1, 'away': 1, 'leaving': 1, 'about': 1, "butterfly's": 1, 'quick': 1, 'escape': 1}

In [ ]:
# Counting with get
sentence = "The curious cat carefully crept closer to the colorful butterfly but the butterfly fluttered away leaving the cat curious about the butterfly's quick escape"

sentence = sentence.lower()
sentence = sentence.split()

word_count = {}
for word in sentence:
  word_count[word] = word_count.get(word, 0) + 1

print(word_count)

{'the': 5, 'curious': 2, 'cat': 2, 'carefully': 1, 'crept': 1, 'closer': 1, 'to': 1, 'colorful': 1, 'butterfly': 2, 'but': 1, 'fluttered': 1, 'away': 1, 'leaving': 1, 'about': 1, "butterfly's": 1, 'quick': 1, 'escape': 1}

In [ ]:
# Counting letters
word = "mississippi"
letter_count = {}

for letter in word:
    letter_count[letter] = letter_count.get(letter, 0) + 1

print(letter_count)

{'m': 1, 'i': 4, 's': 4, 'p': 2}

In [ ]:
# Counting items in list
fruits = ['apple', 'banana', 'apple', 'cherry', 'banana', 'apple']
fruit_count = {}

for fruit in fruits:
    fruit_count[fruit] = fruit_count.get(fruit, 0) + 1

print(fruit_count)

{'apple': 3, 'banana': 2, 'cherry': 1}

## Summary
- Dictionary {key:value}
- Accessing and updating dictionary using `key`
- Creating dictionary {}
- `for` loop through keys
- Dictionary methods: `keys()`, `values()`, `items()`, `get(key,default)`.