<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/Decision_Structures_Lab_2_TH_(Sol).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Decision Structure Lab 2

เขียน ชื่อ นามสกุล และ id ในช่องด้านล่าง

In [ ]:
Solution

**Q1**: What will the followign code print out?

```python
x = 30
if x > 50:
  print("A")
elif x > 40:
 print("B")
elif x > 30:
 print("C")
else:
 print("D")
```

In [ ]:
D

**Q2**: What will the following code print out?
```python
x = 5
y = 7
z = 10
print(f"{x > z}, {z < y}, {x*2 == (y+z)}, {(x+z) != (1+y*2)}")
```

In [ ]:
False, False, False, False

**Q3**: What will the following code print out?
```python
value = 52
if value > 45:
  print("First", end='')
if value > 40:
  print("Second", end='')
if value > 35:
  print("Third", end='')
else:
  print("Fourth", end='')
```

In [ ]:
FirstSecondThird

**Q4**: What will the following code print out?
```python
name = 'Alice'
value = 10
if name == 'Anna':
  print('Hello', end = ',')
  if value > 20:
    print('Big')
  else:
    print('Small')
else:
  print('Hi', end = ':')
  if value < 15:
    print('Yes')
  else:
    print('NO')
```

In [ ]:
Hi:Yes

**Q5**: Fill in the code (`_`) below with a boolean operator so that the program will output False.

In [ ]:
x = 20
y = 30
truth_value = (x != y) and (x == y) # Here
print(truth_value)

False

**Q6**: Fill in the code below so that the program will output 'Second'.

In [ ]:
num = 12     # fill in the value here
if num < 10 or num > 15:
  print('First')
else:
  if num % 2 == 0 and num <= 13:
    print('Second')
  else:
    print('Third')

Second

**Q7**: Date formatting

เขียนโปรแกรมที่รับข้อมูล วัน (day), เดือน (month), ปี (year) และ format ('US', 'JP', 'TH') จาก user และ print วันเดือนปีตาม format ที่ได้มาดังต่อไปนี้

- The 'US' format = Month Day Year.

- The 'JP' format = Year Month Day.

- The 'TH' format = Day Month Year.

Input:
- ตัวเลข, วัน
- ตัวเลข, เดือน
- ตัวเลข, ปี
- string, format

Output:
- Date format ตามโจทย์บอก

Example 1:
```
>Enter day: 1
>Enter month: 10
>Enter year: 2024
>Enter format: US
Month 10 Day 1 Year 2024
```

Example 2:
```
>Enter day: 1
>Enter month: 10
>Enter year: 2024
>Enter format: JP
Year 2024 Month 10 Day 1
```

Example 3:
```
>Enter day: 1
>Enter month: 10
>Enter year: 2024
>Enter format: TH
Day 1 Month 10 Year 2024
```

In [ ]:
day = input('Enter day: ')
month = input('Enter month: ')
year = input('Enter year: ')
format = input('Enter format: ')

# Check condition
if format == 'US':
  print(f'Month {month} Day {day} Year {year}')
elif format == 'JP':
  print(f'Year {year} Month {month} Day {day}')
elif format == 'TH':
  print(f'Day {day} Month {month} Year {year}')

**Q8**: Calculate BMI.

เขียนโปรแกรมเพื่อคำนวณ Body Mass Index (BMI) และ บอกโหมดหมู่ของค่าที่ได้ ตามด้านล่างนี้:

- Underweight: BMI < 18.5
- Normal weight: 18.5 <= BMI < 25
- Overweight: 25 <= BMI < 30
- Obesity: BMI >= 30

BMI = $\frac{\text{weight (kg)}}{\text{(height (m))}^2}$

Input:
* จำนวนจริง, Weight in kg
* จำนวนจริง, Height in meter.

Output:
* BMI ทศนิยมสองตำแหน่ง และ โหมดหมู่.

Example
```
>Weight (kg): 70
>Height (meter): 1.75
Your BMI is 22.86.
Normal weight.
```

In [ ]:
weight = float(input('Weight (kg): '))
height = float(input('Height (meter): '))
BMI = weight/(height**2)
print(f'Your BMI is {BMI:.2f}')

if BMI < 18.5:
  print('Underweight')
elif BMI < 25:
  print('Normal weight')
elif BMI < 30:
  print('Overweight')
else:
  print('Obesity')

Weight (kg): 70
Height (meter): 1.75
Your BMI is 22.86
Normal weight

**Q9**: Cashier Program ver 2.

เขียนโปรแกรมที่รับจำนวน สิ้นค้าที่ลูกค้าซื้อ

สิ่งค้าที่มีคือ: Donut, Cupcake, และ Popcorn. Donut ราคา 10 บาทต่อชิ้น, Cupcake ราคา 20 บาทต่อชิ้น, และ Popcorn ราคา 40 บาทต่อชิ้น. คำนวนราคาของทั้งหมด และ คิดลดราคา ดังเงื่อนไขต่อไปนี้

- ถ้าซื้อโดนัทอย่างน้อย 20 ชิ้นได้ลด 20% ของโดนัท (ลดเฉพาะโดนัทอย่างเดียว)
- ถ้าซื้อคัพเค้กอย่างน้อย 10 ชิ้นได้ลด 10% ของคัพเค้ก (ลดเฉพาะคัพเค้กอย่างเดียว)

หมายเหตุ: สามารถได้ลดราคาทั้งสองอัน

**Input:**
- The number of donut, cupcake, and popcorn.

**Output:**
- ราคาก่อนลด ทศนิยมสองตำแหน่ง
- ราคาหลังลด ทศนิยมสองตำแหน่ง

Example
```
>Enter the number of donut: 30
>Enter the number of cupcake: 20
>Enter the number of popcorn:  5
The total payment befor discount is 900.00 baht.
The payment after discount is 800.00 baht.
```

```
>Enter the number of donut: 5
>Enter the number of cupcake: 20
>Enter the number of popcorn:  3
The total payment befor discount is 570.00 baht.
The payment after discount is 530.00 baht.
```

```
>Enter the number of donut: 10
>Enter the number of cupcake: 10
>Enter the number of popcorn:  5
The total payment befor discount is 500.00 baht.
The payment after discount is 480.00 baht.
```

In [ ]:
# Named Constant
PRICE_DONUT = 10
PRICE_CUPCAKE = 20
PRICE_POPCORN = 40
DIS_DONUT = 0.8
DIS_CUPCAKE = 0.9

# input:
n_donut = int(input('Enter the number of donut: '))
n_cupcake = int(input('Enter the numbe of cupcake: '))
n_popcorn = int(input('Enter the number of popcorn: '))

# Calculate total
total_before = n_donut*PRICE_DONUT + n_cupcake*PRICE_CUPCAKE + n_popcorn*PRICE_POPCORN
print(f'The total payment before discount is {total_before:.2f} baht.')

# เงื่อนไข ของ donut
if n_donut >= 20:
  total_donut = n_donut*PRICE_DONUT*DIS_DONUT
else:
  total_donut = n_donut*PRICE_DONUT

# เงื่อนไข ของ cupcake
if n_cupcake >= 10:
  total_cupcake = n_cupcake*PRICE_CUPCAKE*DIS_CUPCAKE
else:
  total_cupcake = n_cupcake*PRICE_CUPCAKE

print(f'The payment after discount is {total_donut + total_cupcake + n_popcorn*PRICE_POPCORN:.2f} baht.')

Enter the number of donut: 30
Enter the numbe of cupcake: 20
Enter the number of popcorn: 5
The total payment before discount is 900.00 baht.
The payment after discount is 800.00 baht.

In [ ]:
# วิธีที่สอง ลดราคาออก
# Named Constant
PRICE_DONUT = 10
PRICE_CUPCAKE = 20
PRICE_POPCORN = 40
DIS_DONUT = 0.2
DIS_CUPCAKE = 0.1

# input:
n_donut = int(input('Enter the number of donut: '))
n_cupcake = int(input('Enter the numbe of cupcake: '))
n_popcorn = int(input('Enter the number of popcorn: '))

# Calculate total
total_before = n_donut*PRICE_DONUT + n_cupcake*PRICE_CUPCAKE + n_popcorn*PRICE_POPCORN
total_after = total_before

# เงื่อนไข ของ donut
if n_donut >= 20:
  total_after = total_after - (n_donut*PRICE_DONUT*DIS_DONUT)
# เงื่อนไข ของ cupcale
if n_cupcake >= 10:
  total_after = total_after - (n_cupcake*PRICE_CUPCAKE*DIS_CUPCAKE)

print(f'The total payment before discount is {total_before:.2f} baht.')
print(f'The total payment before discount is {total_after:.2f} baht.')

Enter the number of donut: 30
Enter the numbe of cupcake: 20
Enter the number of popcorn: 5
The total payment before discount is 900.00 baht.
The total payment before discount is 800.00 baht.


**Q10**: Let's make milk puddings

ข้อนี้เราจะเขียนโปรแกรม shopping เราจะซื้อไข่กับนมมาทำพุดดิ้ง ในการทำพุดดิ้งอันใหญ่หนึ่งอัน จะต้องใช้ ไข่ 10 ฟองและนม 3 ขวด. โปรแกรมจะรับข้อมูลดังต่อไปนี้: ราคาไข่, ราคานม, และ จำนวนพุดดิ้งที่ต้องการทำ.

ถ้าซื้อเยอะจะได้ลดราคาดังต่อไปนี้
- ถ้าซื้อไข่อย่างน้อย 30 ฟอง จะได้ลด 20% ของไข่
- ถ้าซื้อนมอย่างร้อย 20 ขวด จะได้ลด 10% ของนม

แสดงผลราคา ก่อนและหลังลด

**input**
* ราคาไข่
* ราคานม
* จำนวนพุดดิ้งที่ต้องการทำ

**Output**
* ราคาทั้งหมดก่อนลด ทศนิยมสองตำแหน่ง
* ราคาหลังลด ทศนิยมสองตำแหน่ง

**Note**
* Use Named Constant

Examples
```
Enter the price of an egg: 5
Enter the price of milk: 20
Enter the number of pudding to be made: 10
The original cost is 1100.00
The discounted cost is 940.00
```

```
Enter the price of an egg: 10
Enter the price of milk: 20
Enter the number of pudding to be made: 2
The original cost is 320.00
The discounted cost is 320.00
```

```
Enter the price of an egg: 10
Enter the price of milk: 30
Enter the number of pudding to be made: 20
The original cost is 3800.00
The discounted cost is 3220.00
```

In [ ]:
N_EGG_PP = 10
N_MILK_PP = 3

p_egg = float(input('Enter the price of an egg: '))
p_milk = float(input('Enter the price of milk: '))
n_pudding = int(input('Enter the number of pudding to be made: '))

n_egg = n_pudding*N_EGG_PP
n_milk = n_pudding*N_MILK_PP

total_egg = n_egg * p_egg
total_milk = n_milk * p_milk
print(f'The original cost is {total_egg + total_milk:.2f}')

# เช็คลดราคา
if total_egg >= 30:
  total_egg = total_egg*0.8
if total_milk >= 20:
  total_milk = total_milk*0.9

print(f'The discounted cost is {total_egg + total_milk:.2f}')

Enter the price of an egg: 10
Enter the price of milk: 30
Enter the number of pudding to be made: 20
The original cost is 3800.00
The discounted cost is 3220.00

## การส่ง
- File -> Download -> Download .ipynb
- Upload to MS Teams