<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/Decision_Structures_Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: What will the followign code print out?

```python
x = 30
if x > 50:
  print("A")
elif x > 40:
 print("B")
elif x > 30:
 print("C")
else:
 print("D")
```

**Q2**: What will the following code print out?
```python
x = 5
y = 7
z = 10
print(f"{x > z}, {z < y}, {x*2 == (y+z)}, {(x+z) != (1+y*2)}")
```

**Q3**: What will the following code print out?
```python
value = 52
if value > 45:
  print("First", end='')
if value > 40:
  print("Second", end='')
if value > 35:
  print("Third", end='')
else:
  print("Fourth", end='')
```

**Q4**: Fill in the code (`_`) below with a boolean operator so that the program will output False.

In [ ]:
x = 20
y = 30
truth_value = (x != y) _ (x == y) # Here
print(truth_value)

**Q5**: Fill in the code below so that the program will output 'Second'.

In [ ]:
num =      # fill in the value here
if num < 10 or num > 15:
  print('First')
else:
  if num % 2 == 0 and num <= 13:
    print('Second')
  else:
    print('Third')

**Q6**: Date formatting

Write a program to receive day, month, year, and the date format ('US', 'JP', 'TH') from the user and then print out the date in that format.

The format for 'US' is Month Day Year.

The format for 'JP' is Year Month Day.

The format for 'TH' is Day Month Year.

Example 1:
```
>Enter day: 1
>Enter month: 10
>Enter year: 2024
>Enter format: US
Month 10 Day 1 Year 2024
```

Example 2:
```
>Enter day: 1
>Enter month: 10
>Enter year: 2024
>Enter format: JP
Year 2024 Month 10 Day 1
```

Example 3:
```
>Enter day: 1
>Enter month: 10
>Enter year: 2024
>Enter format: TH
Day 1 Month 10 Year 2024
```

**Q7**: Fizz Buzz v0.5

Write a program that receives a number input from the user.
* print "FizzBuzz" if the number is divisble by 3 and 5.
* print "Fizz" if the number is divisible by 3.
* print "Buzz" if the number is divisible by 5.
* print the number if none of the above conditions are true.

Examples
```
>Enter the number: 3
Fizz
```

```
>Enter the number: 30
FizzBuzz
```

```
>Enter the number: 25
Buzz
```

```
>Enter the number: 1
1
```

**Q8**: Calculate BMI.

Write a program to calculate Body Mass Index (BMI) and categorizes it based on the value:

- Underweight: BMI < 18.5
- Normal weight: 18.5 <= BMI < 25
- Overweight: 25 <= BMI < 30
- Obesity: BMI >= 30

BMI is calculated as: $\frac{\text{weight (kg)}}{\text{(height (m))}^2}$

Input:
* Weight in kg
* Height in meter.

Output:
* BMI in two decimal places and the category.

Example
```
>Weight (kg): 70
>Height (meter): 1.75
Your BMI is 22.86.
Normal weight.
```

**Q6**: Cashier Program ver 2.

Write a program that takes in the number of products that a customer buys. <br> There are three products: donut, cupcake, and popcorn. <br> The price of donut is 10 baht each; the price of cupcake is 20 baht each; and the price of popcorn is 40 baht each. <br> Calculate the total payment and apply the discount as listed below.

* Customers receive 20% off on donuts when purchasing 20 or more donuts.
* Customers receive 10% off on cupcake when purchasing 10 or more cupcakes.

**Input:**
- The number of donut, cupcake, and popcorn.

**Output:**
- The original payment in two decimal.
- The discounted payment.

Example
```
>Enter the number of donut: 30
>Enter the number of cupcake: 20
>Enter the number of popcorn:  5
The total payment befor discount is 900.00 baht.
The payment after discount is 800.00 baht.
```

```
>Enter the number of donut: 5
>Enter the number of cupcake: 20
>Enter the number of popcorn:  3
The total payment befor discount is 570.00 baht.
The payment after discount is 530.00 baht.
```

```
>Enter the number of donut: 10
>Enter the number of cupcake: 10
>Enter the number of popcorn:  5
The total payment befor discount is 500.00 baht.
The payment after discount is 480.00 baht.
```