<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/Input_Output_Lab1_(Sol).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Input Output Lab 1

**Q1**: What is the output of the code below? Write your answer in the code block below.

จงเขียนผลลัพท์ที่ได้จากการทำงานของโค็ดด้านล่าง เขียนไว้ในช่อง code ด้านล่าง

```python
print("House")
```

In [ ]:
House # Fill in your answer like this

**Q2**: What is the output?
```python
print('Cat')
print('Dog')
print('Apple')
```

In [ ]:
Cat
Dog
Apple

**Q3**: What is the output?

```python
x = 5
y = 3
print(x + y)
```

In [ ]:
8

**Q4**: What is the output?

```python
a = 10
b = 3
print(a // b)
print(a % b)
```

In [ ]:
3
1

**Q5**: What is the output?

```python
x = (5%2) + 3
print(x)
```

In [ ]:
4

**Q6**: What is the output?

```python
a = 4
b = 0
c = 3
a = a + 1
b = b + 2
result = a * b ** c
print(f"The result is {result}")
```

In [1]:
The result is 40

The result is 40

**Q7**: What is the output?

```python
a = 1
b = 2
result = a + b + 1
print(result)
a = 3
b = 4
result = a + b + 1
print(result)
```

In [ ]:
4
8

**Q8**: If the user enters "John" and "25", what will be the output?
```python
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"My name is {name}. I'm {age} years old.")
```

In [ ]:
My name is John. I'm 25 years old.

**Q9**: Fill in the blank so that the program prints out 10:

In [ ]:
x = 8  # Fill here
print(x + 2)

10

**Q10**: Complete the code to print as show below:
```python
Hello World!
```

In [2]:
print('Hello World!')  # Fill here

Hello World!

**Q11**: Fill in the blank to calculate and print the area of a rectangle with length 5 and width 3:

In [3]:
length = 5
width = 3
area = length * width  # Fill here
print(area)  #The answer should be 15

15

**Q12**: Complete the code to ask the user for their age and print it:

In [ ]:
age = int(input("Enter your age: "))  # Fill here
print(age)

**Q13**: Fill in the blank to print the result of 7 raised to the power of 3 or $7^3$:

In [4]:
result = 7**3  # Fill here
print(result)  # should print out 343

343

**Q14**: Complete the code to print the remainder when 17 is divided by 5 (หาเศษของการหาร 17 ด้วย 5):

In [ ]:
result = 17 % 5  # Fill here
print(result) # should print out 2

**Q15**: Fill in the blank with mathematic operators so that the output is
```
8
5
```

In [5]:
x = 85
y = x // 10 # 8
z = x % 10 # 5
print(y)
print(z)

8
5

**Q16**: Complete the code to print the average of three numbers:

In [6]:
a = 10
b = 15
c = 20
average = (a+b+c)/3  # Fill here.
print(f"The average is {average}")

The average is 15.0

**Q17**: Complete the code to first ask two numbers from the user and then print out the sum of the two number.

For example
```
>Enter the first number: 3
>Enter the second number: 5
The sum of 3 and 5 is 8.
```
Note: `>` indicates the input line

In [8]:
first = int(input('Enter the first number: '))
second = int(input('Enter the second number: '))

print(f'The sum of {first} and {second} is {first+second}.')

Enter the first number: 10
Enter the second number: 15
The sum of 10 and 15 is 25.

**Q18**: Temperature Convertor

Write a program that takes in a temperature in Fahrenheit (F) from the user and convert it into Celsius (C) and print it out.

The formula to convert F to C is C = (F-32)*5/9.

Example 1:
```
>Enter Fahrenheit: 32
0.0
```

Example 2:
```
>Enter Fahrenheit: 100
37.77777777777778
```

In [10]:
# 1) Ask the user for the temperature in Fahrenheit
fahrenheit = float(input('Enter Fahrenheit: '))
# 2) Calculate the temperature in Celsius using the formula above and save the value in a variable
celsius = (fahrenheit - 32) * 5 / 9
# 3) Print the value out
print(celsius)

Enter Fahrenheit: 100
37.77777777777778

**Q19**: Student Average GPA

Write a program that takes in **three real numbers** for Math GPA, Science GPA, and English GPA, and then calculate the average GPA in **two decimal places** (`f"{value:.2f}"`).

Example 1:
```
>Math GPA: 3
>Science GPA: 3.5
>English GPA: 3.75
Average GPA is 3.42
```

Example 2:
```
>Math GPA: 4
>Science GPA: 2
>Englishg GPA: 2.5
Average GPA is 2.83
```

In [11]:
math = float(input('Math GPA: '))
science = float(input('Science GPA: '))
english = float(input('English GPA: '))
avg = (math + science + english)/3
print(f'Average GPA is {avg:.2f}')

Math GPA: 3
Science GPA: 3.5
English GPA: 3.75
Average GPA is 3.42

**Q20**: Quardratic Equation

Write a program that takes in **four real numbers**, $A, B, C, x$, to calculate the quardratic equation as follows: $y = Ax^2 + Bx +C$. The output, y, must be in **three decimal places**.

Example 1:
```
>Enter A: 2
>Enter B: 2
>Enter C: 3
>Enter x: 1
y = 7.000
```

Example 2:
```
>Enter A: 1.5
>Enter B: 2.4
>Enter C: 0
>Enter x: 2.5
y = 15.375
```

In [12]:
A = float(input('Enter A: '))
B = float(input('Enter B: '))
C = float(input('Enter C: '))
x = float(input('Enter x: '))
y = A*(x**2) + B*x + C
print(f'y = {y:.3f}')

Enter A: 2
Enter B: 2
Enter C: 3
Enter x: 1
y = 7.000

## การส่งงาน
- File -> Download -> Download .ipynb
- Upload to MS Teams