<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/Input_Output_Lab2_(Sol).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Input Output Lab 2

**Q1**: What is the output?
```python
num1 = 15
num2 = 4
result = num1 / num2
print(f"The result is: {result:.2f}")
```

In [1]:
The result is 3.75

3.75

**Q2**: What is the output?
```python
num = 1.23456
result = f"One decimal = {num:.1f}. Two decimal = {num:.2f}. Three decimal = {num:.3f}"
print(result)
```

In [ ]:
One decimal = 1.2. Two decimal = 1.23. Three decimal = 1.235

**Q3**: What is the output?

```python
x = 10
y = 3
z = 2
result = (x + y) * z - x / y
print(f"The result is: {result}")
```

In [ ]:
29.33333333333

**Q4**: What is the output?
```python
x = 3
y = 2
z = (x**x)%y + 5*3/2
print(f"{z:.3f}")
```

In [ ]:
8.500

**Q5**: What is the output?
```python
x = 0
x = x + 1
x = x + 2
x = x + 3
x + 4
print(x)
```

In [ ]:
6

**Q6**: Fill in the blanks so that the statement below print out the following:
```
1 2 2.5 25
```

In [2]:
print(5 % 2, 5 // 2, 5 / 2, 5 ** 2)

1 2 2.5 25

**Q7**: Fill in the blank so that the program print out 55

In [3]:
string = "50"
num = int(string) + 5 #fill in the blank here
print(num)

55

**Q8**: Fill in the blank to properly format the f-string and print the person's name and age:

The answer should be
```
Alice is 30 years old.
```

In [4]:
name = "Alice"
age = 30
print(f"{name} is {age} years old.")  # Fill here

Alice is 30 years old.

**Q9**: Fill in the blank so that when the user enters `10.234` the program prints out `10.2340`.

In [5]:
num = float(input('Enter a number:'))
print(f"{num:.4f}")

Enter a number:10.234
10.2340

**Q10** What will the following code print out?
```python
a = 3
b = 7
total = a+b*5-4**2/2-1
print(total+1)
```

In [ ]:
30

**Q11** Correct the code to properly calculate and print the average of three numbers:

In [7]:
num1 = 10
num2 = 15
num3 = 20
average = (num1 + num2 + num3)/ 3
print(f"The average is: {average:.2f}")

The average is: 15.00

**Q12**: Fill in the blanks to calculate hour and minute from second.

**Hint**:
- 1 hours = 60*60 = 3600 seconds. You can use `//` to get the full number of hours.

Minutes:
 - You can get the remaining minute by first convert total second to minute and then get the remaining minutes after hour using `%`.
 - Alternatively, you can get the remaining minute from `(total_second - hours*3600)` and then convert it to the remaining minutes similar to hours.

Example 1:
```
Enter a number of seconds: 1000
Hours: 0.00, minutes: 16.00, seconds = 40.00
```

Example 2:
```
Enter a number of seconds: 3666
Hours: 1.00, minutes: 1.00, seconds = 6.00
```

In [13]:
total_second = float(input('Enter a number of seconds: '))
hours = total_second // 3600 #Calculate hours
minutes = (total_second - hours*3600) // 60 #Calculate remainng minutes
seconds = total_second % 60 # Calculate the remaining second
print(f"Hours: {hours:.2f}, minutes: {minutes:.2f}, seconds = {seconds:.2f} ")

Enter a number of seconds: 3666
Hours: 1.00, minutes: 1.00, seconds = 6.00

**Q13**: BMI Calculator

Write a program that calculates the Body Mass Index (BMI) of a person. Ask the user for their weight in kilograms and height in meters.

The BMI is calculated using the following formula:
BMI = $\frac{\text{weight (kg)}}{\text{(height (m))}^2}$

Input:

- Real number, weight in kilograms
- Real number, height in meters

Output:
- BMI, rounded to two decimal place

Example1:
```
>Enter your weight in kg: 70
>Enter your height in m: 1.75
Your BMI is 22.9
```

Example2:
```
>Enter your weight in kg: 90
>Enter your height in m: 1.80
Your BMI is 27.8
```

In [14]:
weight = float(input('Enter your weight in kg: '))
height = float(input('Enter your height in m: '))
BMI = (weight)/(height**2)
print(f"Your BMI is {BMI:.2f}")

Enter your weight in kg: 70
Enter your height in m: 1.75
Your BMI is 22.86

**Q14**: Cashier Program

Write a cashier program to calculate the total payment.

There are 4 items: cookie (5 baht), water (10 baht), soda (20 baht), and popcorn (30)

Input:
- The number of cookie
- The number of water
- The number of soda
- The number of popcorn

Output:
- The total payment

Note:
- You must use $\texttt{Named constant}$.
- Name your variables meaningfully!

Example:

```
The number of cookie: 3
The number of water: 2
The number of soda: 0
The number of popcorn: 1
Total payment = 65 baht.
```

In [15]:
# Named constant
COOKIE_PRICE = 5
WATER_PRICE = 10
SODA_PRICE = 20
POPCORN_PRICE = 30

n_cookie = int(input('The number of cookie: '))
n_water  = int(input('The number of water: '))
n_soda   = int(input('The number of soda: '))
n_popcorn = int(input('The number of popcorn: '))

total = n_cookie*COOKIE_PRICE + n_water*WATER_PRICE + n_soda*SODA_PRICE + n_popcorn*POPCORN_PRICE

print(f'Total payment = {total} baht.')

The number of cookie: 3
The number of water: 2
The number of soda: 0
The number of popcorn: 1
Total payment = 65 baht.

**Q15**: Calculate the Average GPA of a Classroom

Write a Python program that calculates the average GPA (Grade Point Average) of a classroom based on the number of students who received each letter grade.

Your program should:

- Ask the user to input the number of students who received each letter grade (A, B, C, D, and F).
- Calculate the total grade points by multiplying the number of students with the corresponding grade point for each letter grade.
- Calculate the total number of students.
- Calculate and display the average GPA of the classroom to two decimal places.

Use the following grade point values:

- A = 4.0
- B = 3.0
- C = 2.0
- D = 1.0
- F = 0.0

**Input**:
- 5 integer for the number of students who received each letter grade.

**Output**:
- One real number for the average GPA.

**Note**:
- You must use **NAME CONSTANT**.
- Name your variables meaningfully!

Example 1:
```
>Enter the number of A: 5
>Enter the number of B: 10
>Enter the number of C: 8
>Enter the number of D: 4
>Enter the number of F: 3
The average GPA of the classroom is: 2.33
```
**Explanation**:
- The total GPA is `5*4 + 10*3 + 8*2 + 4*1 + 3*0 = 70`
- The total number of students is `5 + 10 + 8 + 4 + 3 = 30`
- The average is `70/30 = 2.33`

Example 2:
```
Enter the number of A: 0
Enter the number of B: 10
Enter the number of C: 3
Enter the number of D: 5
Enter the number of F: 1
The average GPA of the classroom is: 2.16
```

In [16]:
# Named Constant
A = 4.0
B = 3.0
C = 2.0
D = 1.0
F = 0.0

n_A = int(input('Enter the number of A: '))
n_B = int(input('Enter the number of B: '))
n_C = int(input('Enter the number of C: '))
n_D = int(input('Enter the number of D: '))
n_F = int(input('Enter the number of F: '))

total_GPA = n_A*A + n_B*B + n_C*C + n_D*D + n_F*F
total_students = n_A + n_B + n_C + n_D + n_F
average = total_GPA/total_students
print(f'The average GPA of the classroom is: {average:.2f}')

Enter the number of A: 5
Enter the number of B: 10
Enter the number of C: 8
Enter the number of D: 4
Enter the number of F: 3
The average GPA of the classroom is: 2.33

## การส่ง
- File -> Download -> Download .ipynb
- Upload to Microsoft Teams