<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/Input_Output_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Input Output Lab 1

**Q1**: What is the output of the code below? Write your answer in the code block below.

จงเขียนผลลัพท์ที่ได้จากการทำงานของโค็ดด้านล่าง เขียนไว้ในช่อง code ด้านล่าง

```python
print("House")
```

**Q2**: What is the output?
```python
print('Cat')
print('Dog')
print('Apple'):
```

**Q3**: What is the output?

```python
x = 5
y = 3
print(x + y)
```

**Q4**: What is the output?

```python
a = 10
b = 3
print(a // b)
print(a % b)
```

**Q5**: What is the output?

```python
x = (5%2) + 3
print(x)
```

**Q6**: What is the output?

```python
a = 4
b = 0
c = 3
a = a + 1
b = b + 2
result = a * b ** c
print(f"The result is {result}")
```

**Q7**: What is the output?

```python
a = 1
b = 2
result = a + b + 1
print(result)
a = 3
b = 4
result = a + b + 1
print(result)
```

**Q8**: If the user enters "John" and "25", what will be the output?
```python
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"My name is {name}. I'm {age} years old.")
```

**Q9**: Fill in the blank so that the program prints out 10:

In [ ]:
x = __  # Fill here
print(x + 2)

**Q10**: Complete the code to print as show below:
```python
Hello World!
```

In [ ]:
print(____)  # Fill here

**Q11**: Fill in the blank to calculate and print the area of a rectangle with length 5 and width 3:

In [ ]:
length = 5
width = 3
area = ______  # Fill here
print(area)  #The answer should be 15

**Q12**: Complete the code to ask the user for their age and print it:

In [ ]:
age = ____(____)  # Fill here
print(age)

**Q13**: Fill in the blank to print the result of 7 raised to the power of 3 or $7^3$:

In [ ]:
result =   # Fill here
print(result)  # should print out 343

**Q14**: Complete the code to print the remainder when 17 is divided by 5 (หาเศษของการหาร 17 ด้วย 5):

In [ ]:
result =   # Fill here
print(result) # should print out 2

**Q15**: Fill in the blank with mathematic operators so that the output is
```
8
5
```

In [ ]:
x = 85
y = x __ 10
z = x __ 10
print(y)
print(z)

**Q16**: Complete the code to print the average of three numbers:

In [ ]:
a = 10
b = 15
c = 20
average = ________________  # Fill here.
print(f"The average is {average}")

**Q17**: Complete the code to first ask two numbers from the user and then print out the sum of the two number.

For example
```
>Enter the first number: 3
>Enter the second number: 5
The sum of 3 and 5 is 8.
```
Note: `>` indicates the input line

**Q18**: Temperature Convertor

Write a program that takes in a temperature in Fahrenheit (F) from the user and convert it into Celsius (C) and print it out.

The formula to convert F to C is C = (F-32)*5/9.

Example 1:
```
>Enter Fahrenheit: 32
0.0
```

Example 2:
```
>Enter Fahrenheit: 100
37.77777777777778
```

In [ ]:
# 1) Ask the user for the temperature in Fahrenheit

# 2) Calculate the temperature in Celsius using the formula above and save the value in a variable

# 3) Print the value out

**Q19**: Student Average GPA

Write a program that takes in **three real numbers** for Math GPA, Science GPA, and English GPA, and then calculate the average GPA in **two decimal places** (`f"{value:.2f}"`).

Example 1:
```
Math GPA: 3
Science GPA: 3.5
English GPA: 3.75
Average GPA is 3.42
```

Example 2:
```
Math GPA: 4
Science GPA: 2
Englishg GPA: 2.5
Average GPA is 2.83
```

**Q20**: Quardratic Equation

Write a program that takes in **four real numbers**, $A, B, C, x$, to calculate the quardratic equation as follows: $y = Ax^2 + Bx +C$. The output, y, must be in **three decimal places**.

Example 1:
```
>Enter A: 2
>Enter B: 2
>Enter C: 3
>Enter x: 1
y = 7.000
```

Example 2:
```
>Enter A: 1.5
>Enter B: 2.4
>Enter C: 0
>Enter x: 2.5
y = 15.375
```