<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/List_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

พิมพ์ชื่อนามสกุล และ id ด้านล่าง

**Q1**:  What will this program print out?

```python
temp = [5,5,4,4,4,3,3]
temp[0] = 1
temp[1] = len(temp)
temp[len(temp)-1] = temp[0]*2
print(temp)
```

**Q2**: What will this program print out?
```python
seq1 = [1,2,3]
seq2 = [4,4,4]
seq3 = seq1 + seq2
seq3[4] = 5
print(seq3)
```

**Q3** What will this program print out?
```python
seq1 = [0]*5
seq2 = [1,2,3]*3
print(seq1 + seq2)
```

**Q4**: What will this program print out?

```python
target = 'E'
if target in ['A','B','C']:
  print([target]*1)
elif target in ['A','D','FE']:
  print([target]*2)
elif target in ['A','E','I','O','U']:
  print([target]*3)
else:
  print([target]*4)
```

**Q5**: What will this program print out if the user enters `122`?

```python
references = [12,234,671,32,122,99]
query = int(input('Enter your query'))
if query in references:
  print('Yes')
else:
  print('No')
```

**Q6**: What will this program print out?

```python
temp = [30,20,18,90,77,44]
new_list = []
for num in temp:
  if num > 20:
    new_list.append(num)
print(new_list)
```

**Q7**: What will this program print out?
```python
initial = [1,1]
for i in range(1,5):
  initial.append(initial[i-1] + initial[i])
print(initial)
```

**Q8**: What will this program print out?
```python
names = [['Alice','Bob'],['Anna','Mike'],['Mary','Richard']]
print(names[0][1], names[2][0])
```

**Q9:** What will the following code print out?

```python
numbers = [7, 8, 25, 20, 25]
numbers.insert(3, 10)
numbers.sort()
numbers.remove(25)
print(numbers)
```

**Q10**: What will the following code print out?

```python
items = [1, 2, 3, 4]
list1 = [item+1 for item in items]
list2 = [item**2 for item in items if item%2 ==0]
print(list1)
print(list2)
```

**Q11** Fill in the blank so that the program prints out `[2,4,6,8]`

In [ ]:
my_list = []
for num in range(1,10):
  if ______________________:
    ______________________
print(my_list)

**Q12** Fill in the blank so that the program prints out `[1, 4, 9, 16]`

In [ ]:
numbers = [0, 1, 2, 3]
print([_____ for ____ in numbers])

**Q13** Fill in the blank so that the program print out `[5, 10, 15]`

In [ ]:
sequences = [1, 5, 10, 3, 15, 4, 7, 9]
new_list = [____ for ____ in sequences ___________]
print(new_list)

**Q14**: สร้าง list จาก user

จงเขียนโปรแกรม เพื่อรับข้อมูลนำเข้าจาก user และมาสร้างเป็น list. User จะพิมพ์ค่า `n` ก่อนแล้วหลังจากนั้นจะพิมพ์ข้อมูล จำนวนเต็มอีก `n` ค่า

หลังจากนั้น ให้หาค่า ค่าเฉลี่ยของ list และ สร้าง list อีก list ที่ลบค่าเฉลี่ยออกจากจำนวนทุกค่า

**Extra**: ลองทำทั้งแบบที่ใช้ append และ list comprehension

Hint: สามารถใช้ `sum()` ได้

Example 1:
```
Enter n: 3
Enter number: 1
Enter number: 1
Enter number: 1
The original list is [1, 1, 1]
The mean is 1.00
The new list is [0.0, 0.0, 0.0]
```

Example 2:

```
Enter n: 5
Enter number: 1
Enter number: 3
Enter number: 5
Enter number: 7
Enter number: 9
The original list is [1, 3, 5, 7, 9]
The mean is 5.00
The new list is [-4.0, -2.0, 0.0, 2.0, 4.0]
```

**Q15**: FizzBuzz

Given an integer $n$, return a list $answer$ where:

* $\texttt{answer[i] == "FizzBuzz"}$ if $\texttt{i}$ is divisible by 3 and 5.
* $\texttt{answer[i] == "Fizz"}$ if $\texttt{i}$ is divisible by 3.
* $\texttt{answer[i] == "Buzz"}$ if $\texttt{i}$ is divisible by 5.
* $\texttt{answer[i] == i}$ if none of the above conditions are true.


Example 1:

```
Enter n: 3
[1,2,'Fizz']
```

Example 2:

```
Enter n: 5
[1,2,'Fizz',4,'Buzz']
```

Example 3:

```
Enter n: 15
[1,2,'Fizz',4,'Buzz','Fizz',7,8,'Fizz','Buzz',11,'Fizz',13,14,'FizzBuzz']
```

## การส่ง
- File -> Download -> Download .ipynb
- Upload to MS Teams