<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/List_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1** What will this program print out?

```python
temp = [1,2,3,4,5,6,7,8,9,10]
print(temp[:3])
print(temp[-3:])
print(temp[1::2])
```

**Q2**:  What will this program print out?

```python
temp = [5,5,4,4,4,3,3]
temp[0] = 1
temp[1] = len(temp)
temp[len(temp)-1] = temp[0]*2
print(temp)
```

**Q3**: What will this program print out?
```python
seq1 = [1,2,3]
seq2 = [3,3,3]
seq3 = seq1 + seq2
print(seq3)
```

**Q4** What will this program print out?
```python
seq1 = [0]*5
seq2 = [1,2,3]*3
print(seq1 + seq2)
```

**Q5**: What will this program print out?

```python
target = 'E'
if target in ['A','B','C']:
  print([target]*1)
elif target in ['A','D','FE']:
  print([target]*2)
elif target in ['A','E','I','O','U']:
  print([target]*3)
else:
  print([target]*4)
```

**Q6**: What will this program print out if the user enters `122`?

```python
references = [12,234,671,32,122,99]
query = int(input('Enter your query'))
if query in references:
  print('Yes')
else:
  print('No')
```

**Q7**: What will this program print out?

```python
temp = [30,20,18,90,77,44]
new_list = []
for num in temp:
  if num > 20:
    new_list.append(num)
print(new_list)
```

**Q8**: What will this program print out?
```python
initial = [1,1]
for i in range(1,5):
  initial.append(initial[i-1] + initial[i])
print(initial)
```

**Q9**: What will this program print out?
```python
names = [['Alice','Bob'],['Anna','Mike'],['Mary','Richard']]
print(names[0][1], names[2][0])
```

**Q10** Fill in the blank so that the program prints out `[2,4,6,8]`

In [ ]:
my_list = []
for num in range(1,10):
  ________________________
    ______________________
print(my_list)

**Q11** Fill in the blank so that the program prints out `['Hi','Sup','Good']`

In [ ]:
words = ['Hello','Hi','Yo','Sup','Not much','Good']
print(words[______])

**Q12**: Adjacent members

Write a program to count how many adjacent items in a given list are the same. For example, given a list [1, 1, 2, 3, 3], there are two cases: [1,1] (index 0 and 1) and [3,3] (index 3 and 4).

For this problem, you will be given lists and don't need to get input from the user (see the code blow).

Example 1:
```
test_list = [1,2,3,4,5]
0
```

```
test_list = [1, 1, 2, 3, 3]
2
```

```
test_list = [1, 1, 1, 1, 1, 1]
5
```

**Q13**: FizzBuzz

Given an integer $n$, return a list $answer$ where:

* $\texttt{answer[i] == "FizzBuzz"}$ if $\texttt{i}$ is divisible by 3 and 5.
* $\texttt{answer[i] == "Fizz"}$ if $\texttt{i}$ is divisible by 3.
* $\texttt{answer[i] == "Buzz"}$ if $\texttt{i}$ is divisible by 5.
* $\texttt{answer[i] == i}$ if none of the above conditions are true.


Example 1:

```
Enter n: 3
[1,2,'Fizz']
```

Example 2:

```
Enter n: 5
[1,2,'Fizz',4,'Buzz']
```

Example 3:

```
Enter n: 15
[1,2,'Fizz',4,'Buzz','Fizz',7,8,'Fizz','Buzz',11,'Fizz',13,14,'FizzBuzz']
```