<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/Midterm_Preparation_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: Fill in the blank so that the program outputs 9 and 6.

In [ ]:
x = 69
first = x _ 60
second = x _ 10
print(first, second)

**Q2**: What will the following code print out?
```python
num = 10
x = 5
num = x + num ** 2 /5 - x * 3
x = 10
print(num)
```

**Q3**: What will the following code print out? Assume inputs are 2 and 4 respectively.
```python
x = int(input('Enter a number '))
y = int(input('Enter a number: '))
print(f"Output = {10-y**x+10*3:.2f}")
```

**Q4**: What will the following program output?

```python
if 10 < 5:
  print('a', end='')
else:
  print('b', end='')
if 10 > 5 and 5 > 20:
  print('c', end='')
elif 7 == 5 or 6 > 3:
  print('d', end='')
if 3%2 == 1:
  print('e', end='')
```

**Q5**: Fill a number in the blank (__) so that the following program print out 'D'

In [ ]:
num = __
if num >= 49:
  print('A')
else:
  if num < 45 or num > 60:
    print('B')
  elif num % 5 == 0 or num%2==0:
    print('C')
  else:
    print('D')

**Q6**: What will the following program output?

```python
a = False
b = False
c = False

if a and not b and not c:
  print("First")
elif a or not b and not c:
  print("Second")
else:
  print("Third")
```

**Q7**: Fill in the blank so that the program print out 4 2 0 -2 -4

In [ ]:
for i in range(______):
  print(i, end=' ')

**Q8**: What will the code below print out?

```python
total = 0
for var in [1, 7, 10, 17, 20]:
  if var % 5 == 0:
    total += var
  else:
    total += 7
print(total)
```

**Q9**: Write the output of the following program:
```python
count = 0
names = ['Adam','Sophia','Noah','Mary','Nico','John']
my_name = 'Nut'
for name in names:
  if my_name > names:
     count += 1
print(count)
```

**Q10**: Write the output of this program:
```python
numbers = [4, 2, 3, 0, 1]
temp = [0,0,0,0,0]
for i in range(len(numbers)):
  temp[i] = numbers[numbers[i]]
print(temp)
```

**Q11**: คะแนนพฤติกรรม

เขียนโปรแกรมเพื่อคำนวณและจัดประเภทคะแนนพฤติกรรมของผู้ใช้
โปรแกรมจะรับคะแนนพฤติกรรมเริ่มต้นก่อน (initial behavior score)

จากนั้น โปรแกรมจะรับจำนวนเต็ม $n$ ซึ่งเป็นจำนวนครั้งที่ผู้ใช้ได้รับบทลงโทษ หลังจากนั้น โปรแกรมจะรับจำนวนเต็ม $n$ ตัวสำหรับคะแนนลงโทษ คะแนนพฤติกรรมจะถูกลดลงด้วยคะแนนลงโทษทุกตัวที่ใส่เข้ามา

สุดท้าย คะแนนที่เหลือจะถูกจัดประเภทตามเกณฑ์ต่อไปนี้:

- ถ้าคะแนนมากกว่าหรือเท่ากับ 80 เกรดของคุณคือ "Excellent"
- ถ้าคะแนนอยู่ระหว่าง 60 ถึง 79 เกรดของคุณคือ "Good"
- ถ้าคะแนนต่ำกว่า 60 เกรดของคุณคือ "Bad"

**ข้อมูลนำเข้า**

- จำนวนเต็มสำหรับคะแนนพฤติกรรมเริ่มต้น
- จำนวนเต็มหนึ่งตัว ($n$) สำหรับจำนวนครั้งของบทลงโทษ
- จำนวนเต็ม $n$ ตัวสำหรับคะแนนบทลงโทษ

**ข้อมูลส่งออก**

- แสดงคะแนนพฤติกรรมที่เหลือและเกรดของคะแนนพฤติกรรม

ตัวอย่างที่ 1
```
>Enter the intial behavior score: 100
>Number of penalties: 3
>Enter penalty: 10
>Enter penalty: 10
>Enter penalty: 15
The remaining behavior score is 65 and the grade is Good.
```

ตัวอย่างที่ 2
```
>Enter the intial behavior score: 120
>Number of penalties: 5
>Enter penalty: 20
>Enter penalty: 30
>Enter penalty: 15
>Enter penalty: 10
>Enter penalty: 5
The remaining behavior score is 40 and the grade is Bad.
```

**Q12**: Cashier Program v3

เราจะเขียนโปรแกรมขายของอีกครั้ง คราวนี้เรากำลังขายผลิตภัณฑ์อาหารดังต่อไปนี้: ไข่ (ราคา 5 บาทต่อฟอง) และนม (ราคา 20 บาทต่อกล่อง) สิ่งสำคัญคือ**เราขายเป็นโหล** (12 ชิ้นต่อออร์เดอร์)

ลูกค้าสามารถรับส่วนลดได้ตามเงื่อนไขต่อไปนี้:

- หากซื้อไข่อย่างน้อย 50 ฟอง จะได้รับส่วนลด 30% สำหรับไข่
- หากซื้อนมอย่างน้อย 75 กล่อง จะได้รับส่วนลด 20% สำหรับนม
- หากซื้อไข่อย่างน้อย 100 ฟองและนม 100 กล่อง จะได้รับส่วนลดเพิ่มอีก 100 บาท

**ข้อมูลนำเข้า**

* จำนวนเต็ม: จำนวนไข่ (เป็นโหล)
* จำนวนเต็ม: จำนวนนม (เป็นโหล)

**ข้อมูลส่งออก**

* ยอดรวมก่อนหักส่วนลด แสดงทศนิยมสองตำแหน่ง
* ยอดรวมหลังหักส่วนลดทั้งหมด แสดงทศนิยมสองตำแหน่ง

**หมายเหตุ**

* ต้องใช้ Named Constant

คัวอย่าง

```
>Enter the number of eggs (dozen): 1
>Enter the number of milks (dozen): 5
The original payment is 1260.00 Baht.
The payment after discount is 1260.00 Bath.
```

```
>Enter the number of eggs (dozen): 10
>Enter the number of milks (dozen): 10
The original payment is 3000.00 Baht.
The payment after discount is 2240.00 Baht.
```

```
>Enter the number of eggs (dozen): 5
>Enter the number of milks (dozen): 5
The original payment is 1500.00 Baht.
The payment after discount is 1410.00 Baht.
```

```
>Enter the number of eggs (dozen): 3
>Enter the number of milks (dozen): 10
The original payment is 2580.00 Baht.
The payment after discount is 2100.00 Baht.
```