<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/Repetition_Structure_and_List_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: What is the output of this program?
```python
my_list = [1,2,3,4,7,12]
print(my_list[0], my_list[2], my_list[-1])
```

**Q2**: What is the output of this program?
```python
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num * 2, end=" ")
```

**Q3**: What is the output of this program?

```python
words = ['AAA','BBB','CCC','DDD','FFF']
for i in range(len(words)):
  if words[i] != 'BBB':
    print(words[i], end=',')
  if words[i] == 'DDD':
    break
```

**Q4**: What is the output of this program?
```python
numbers = [1, 2, 3, 4]
numbers[1] = numbers[0] + numbers[1]
numbers[2] = numbers[1] + numbers[2]
numbers[3] = numbers[2] + numbers[3]
print(numbers)
```

**Q5**: What is the output of this program?
```python
seq1 = [1,2,3,4]
n1 = len(seq1)
seq2 = [323,1234,123156311]
n2 = len(seq2)
print(n1, n2)
```

**Q6**: What will the following code print out?

```python
for i in range(0, 10, 3):
  for j in range(5, i, - 3):
     print(j, end='')  
```

**Q7**: What will the following code print out?
```python
total = 0
for i in range(0, 8, 2):
  for j in range(0, 3):
    if i > j:
      total += i
print(total)
```

**Q8**: Fill in the blank to print the index and value of each element:
```
0: apple
1: banana
2: cherry
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
for i in range(__):
  print(f"{i}: {fruits[__]}")

**Q9**: Complete the code to find the largest number in the list:

In [ ]:
numbers = [3, 7, 2, 8, 1]
largest = numbers[0]
for num in numbers:
    if num __ largest:
        ______________
print(largest)

**Q10** เติม code ด้านล้าง เพื่อหาว่า index ไหนของ `data` เก็บค่าน้อยที่สุดเอาไว้

In [ ]:
data = [-5, 7, -10, 3, 5, 9]
lowest_value = 9999999    # Set to the largest possible
lowest_id = -1      # Set to an impossible number

for __________________________:
  if _______________________:
     _______________________
     _______________________
print(lowest_id)

**Q11** เติม code ด้านล่างเพื่อ เปลี่ยนค่าของตัวเลขแต่ละตัวใน `sequences` เป็นค่าส่วนต่างระหว่างค่าแต่ละตัวกับค่า `target`. เมื่อรันcode แล้วคำตอบที่ได้ควรเป็น `[3, 2, 2, 13, 4]`

In [ ]:
sequences = [10, 5, 9, 20, 3]
target = 7
for __________________________:
  if ___________________:   # ถ้าตัวเลขมากกว่า target
    ____________________
  else:
    ____________________
print(sequences)

**Q12**: Divisible sequence

เขียนโปรแกรมมาเพื่อปริ้นตัวเลขตามลำดับเฉพาะตัวที่หารไม่ลงตัว ตัวที่หารลงตัวให้ปริ้น 'D'` แทน. โดยโปรแกรมนั้นจะรับค่ามาสองค่า $n$ กับ $m$. โดยค่า $n$ นั้นจะต้องมีค่าเป็นจำนวนบวกเท่านั้น และ ค่า $m$ จะต้องมีค่า ระหว่าง 2- 10 เท่านั้น.

**Extra**: โปรแกรมจะต้องไม่พิมพ์ `,` ตัวสุดท้ายออกมา (Hint: เช็คเงื่อนไข)


Example:

```
>Enter n: 20
>Enter m (2-10): 4
1,2,3,D,5,6,7,D,9,10,11,D,13,14,15,D,17,18,19,D
```

```
>Enter n: 30
>Enter m (2-10): 3
1,2,D,4,5,D,7,8,D,10,11,D,13,14,D,16,17,D,19,20,D,22,23,D,25,26,D,28,29,D
```

```
>Enter n: -10
Invalid n. Please return.
>Enter n: 20
>Enter m (2-10): -50
Invalid m. Please return.
>Enter m (2-10): 4
1,2,3,D,5,6,7,D,9,10,11,D,13,14,15,D,17,18,19,D
```

**Q13** (Extra ถ้าทำทัน): คำนวณค่า variance

โจทย์จะให้ list ของตัวเลขมา (ด้านล่าง). ให้คุณเขียนโปรแกรมมาคำนวณค่า variance ของ list ที่ให้หมา ตามสมการด้านล่างดังต่อไปนี้

$var = \frac{1}{n}(\sum_i^nx_i^2) - \mu^2$, where $x$ is the list of numbers, $n$ is the length of the list, and $\mu$ is the mean of the list, $\mu = \frac{\sum_i^nx_i}{n}$.

ตัวอย่างเช่น

`test_list = [1,2,3,4,5]`

$\mu = (1+2+3+4+5)/5 = 3$

$\frac{1}{n}(\sum_i^nx_i^2) = (1^2 + 2^2 + 3^2 + 4^2 + 5^2)/5 = 11$

$var = 11 - 3 = 8$

In [ ]:
# simply use these test_list below to test use your code
# Comment out to test other lists
test_list = [1,2,3,4,5]            # The answer is 2
# test_list = [1,1,1,1,1]          # The answer is 0
# test_list = [9,1,4,12,0,-2,4,8]  # The answer is 20.5

n = len(test_list)                 # This return the length of a list.

# 1) Calculate mean
total = 0


# 2) Calculate sum of x^2
sum_of_squared = 0


# 3) Finally calculate sum of x^2 - mean and print it out

## การส่ง
- File -> Download -> Download .ipynb
- Upload to MS Teams