<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/Repetition_Strucutres_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: What is the output of this program?
```python
i = 0
while i < 5:
  print(i)
  i += 1
```

**Q2**: What is the output of this program?
```python
for i in range(3):
  print("Hello")
```

**Q3**: What is the output of this program?
```python
for i in range(1, 10, 2):
    print(i, end=":")
```

**Q4**: What is the output of this program?
```python
x = 5
while x > 0:
  print(x)
  x -= 2
```

**Q5**: What is the output of this program?

```python
i = 1
while i <= 16:
  print(i, end=" ")
  i *= 2
```

**Q6**: What is the output of this program?

```python
total = 0
count = 1
while count < 7:
  total += 1
  count += 1
print(count)
```

**Q7**: What is the output of this program?

```python
total = 0
for i in range(1,10,2):
  total = total + i
print(i)
```

**Q8**: What is the output of this program?

```python
for num in [1 , 7, 4, 20, 2]:
  if num % 2 == 0:
    break
```

**Q9**: What is the output of this program?

```python
count = 0
numbers = [1, 2, 3, ,4 ,5 ,6]
for num in numbers:
  if num%2==1:
    count += 1
print(count)
```

**Q10**: What is the output of this program?

```python
target = 'AAA'
words = ['A','AA','AAA','AA','BBB','AAA','C','AAA']
n_target = 0
n_non_target = 0
for word in words:
  if word == target:
    n_target += 1
  else:
    n_non_target += 2
print(n_target, n_non_target)
```

**Q11**: Fill in the blank to print numbers from 0 to 4:

In [ ]:
for i in range(__):
  print(i)

**Q12**: Fill in the blank to print out 'Welcome' 4 times

In [ ]:
n = ___
for i in range(n):
  print('Welcome')

**Q13**: Fill in the blank so that the code print out 7 4 1

In [ ]:
for i in _____:
  print(i, end=' ')

**Q14**: Fill in the blank so that the program print out 0 1 2 3

In [ ]:
count = 0
while count < 10:
  print(count, end=' ')
  if ___________  #Fill in your code here
    break

**Q15**: Fill in the blanks to create a countdown from 5 to 1

In [ ]:
x = __
while x > 0:
  print(x)
  x __= 1

**Q16**: หาผลรวมจากข้อมูลของ user

เขียนโปรแกรมเพื่อคำนวณค่าผลรวมจากตัวเลขที่ผู้ใช้งานพิมพ์เข้ามา โปรแกรมจะถามผู้ใช้งานให้พิมพ์ตัวเลขเข้ามาเรื่อยๆ จนกระทั่งผู้ใช้งานใส่ค่า -999999. เมื่อจบแล้วให้พิมพ์ค่าผลรวมทั้งหมดออกมา

ข้อมูลนำเข้า:
- ตัวเลขหลายตัวอยากผู้ใช้งาน

ข้อมูลส่งออก:
- ผลรวม

Example 1:
```
>Enter a number: 5
>Enter a number: 3
>Enter a number: 10
>Enter a number: -999999
The total is 18
```

Example 2:
```
>Enter a number: 20  
>Enter a number: -30
>Enter a number: -999999
The total is -10.
```

**Q17**: คำนวณเงินเดือน

เขียนโปรแกรมที่รับจำนวนชั่วโมง และเรทเงินเดือนต่อชม และแสดงผลเงินเดือนที่ได้หมดมา

สำหรับโปรแกรมนี้นั้น จะต้องตรวจสอบก่อนว่า ค่าจำนวนชมและเรท จะต้องไม่ติดลบ.

ข้อมูลนำเข้า
- จำนวนจริง สำหรับชม.
- จำนวนจริง เรทเงินเดือน

ข้อมูลส่งออก
- จำนวนจริง สองตำแหน่ง แสดงผลเงินเดือนที่ได้


Example 1:
```
>Enter hours: 20
>Enter rate: 10
Your salary is 200.00
```

Example 2:
```
>Enter hours: -10
Invalid hours. Please reenter.
>Enter hours: -20
Invalid hours. Please reenter.
>Enter hours: 30
>Enter rate: 20
Your salary is 600.00
```

Example 3:
```
>Enter hours: -25
Invalid hours. Please reenter.
>Enter hours: 40
>Enter rate: -10
Invalid rate. Please reenter.
>Enter rate: 15
Your salary is 600.00
```