<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/Repetition_Strucutres_Lab_1_(sol).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: What is the output of this program?
```python
x = 0
while x < 5:
  print(x)
  x += 1
```

In [ ]:
0
1
2
3
4

**Q2**: What is the output of this program?
```python
for i in range(3):
  print("Hello")
```

In [ ]:
Hello
Hello
Hello

**Q3**: What is the output of this program?
```python
for i in range(1, 10, 2):
    print(i, end=":")
```

In [ ]:
1:3:5:7:9

**Q4**: What is the output of this program?
```python
x = 5
while x > 0:
  print(x)
  x -= 2
```

In [ ]:
5
3
1

**Q5**: What is the output of this program?

```python
i = 1
while i <= 16:
  print(i, end=" ")
  i *= 2
```

In [ ]:
1 2 4 8 16

**Q6**: What is the output of this program?

```python
total = 0
count = 1
while count < 7:
  total += 1
  count += 1
print(count)
```

In [ ]:
7

**Q7**: What is the output of this program?

```python
total = 0
for i in range(1,10,2):
  total = total + i
print(i)
```

In [ ]:
9

**Q8**: What is the output of this program?

```python
for num in [1 , 7, 4, 20, 2]:
  if num % 2 == 0:
    break
  print(num)
```

In [ ]:
1
7

**Q9**: What is the output of this program?

```python
count = 0
numbers = [1, 2, 3, ,4 ,5 ,6]
for num in numbers:
  if num%2==1:
    count += 1
print(count)
```

In [ ]:
3

**Q10**: What is the output of this program?

```python
target = 'AAA'
words = ['A','AA','AAA','AA','BBB','AAA','C','AAA']
n_target = 0
n_non_target = 0
for word in words:
  if word == target:
    n_target += 1
  else:
    n_non_target += 2
print(n_target, n_non_target)
```

In [ ]:
3 10

**Q11**: Fill in the blank to print numbers from 0 to 4:

In [ ]:
for i in range(0, 5):
  print(i)

0
1
2
3
4

**Q12**: Fill in the blank to print out 'Welcome' 4 times

In [ ]:
n = 4
for i in range(n):
  print('Welcome')

Welcome
Welcome
Welcome
Welcome

**Q13**: Fill in the blank so that the code print out 7 4 1

In [ ]:
for i in range(7, 0, -3): #[7, 4, 1]
  print(i, end=' ')

7 4 1

**Q14**: Fill in the blank so that the program print out 0 1 2 3

In [ ]:
count = 0
while count < 10:
  print(count, end=' ')
  if count == 3: #Fill in your code here
    break
  count += 1

0 1 2 3

**Q15**: Fill in the blanks to create a countdown from 5 to 1

In [ ]:
x = 5
while x > 0:
  print(x)
  x -= 1

**Q16**: หาผลรวมจากข้อมูลของ user

เขียนโปรแกรมเพื่อคำนวณค่าผลรวมจากตัวเลขที่ผู้ใช้งานพิมพ์เข้ามา โปรแกรมจะถามผู้ใช้งานให้พิมพ์ตัวเลขเข้ามาเรื่อยๆ จนกระทั่งผู้ใช้งานใส่ค่า -999999. เมื่อจบแล้วให้พิมพ์ค่าผลรวมทั้งหมดออกมา

ข้อมูลนำเข้า:
- ตัวเลขหลายตัวอยากผู้ใช้งาน

ข้อมูลส่งออก:
- ผลรวม

Example 1:
```
>Enter a number: 5
>Enter a number: 3
>Enter a number: 10
>Enter a number: -999999
The total is 18
```

Example 2:
```
>Enter a number: 20  
>Enter a number: -30
>Enter a number: -999999
The total is -10.
```

In [ ]:
total = 0 # มาเก็บผลรวม
while True:
  num = int(input('Enter a number'))
  if num == -999999:
    break
  total = total + num # total += num
print(total)

Enter a number5
Enter a number3
Enter a number10
Enter a number-999999
18

In [ ]:
total = 0
num = int(input('Enter a number: '))
while num != -999999:
  total = total + num
  num = int(input('Enter a number: '))
print(total)

Enter a number: 5
Enter a number: 3
Enter a number: 10
Enter a number: -999999
18

**Q17**: คำนวณเงินเดือน

เขียนโปรแกรมที่รับจำนวนชั่วโมง และเรทเงินเดือนต่อชม และแสดงผลเงินเดือนที่ได้หมดมา

สำหรับโปรแกรมนี้นั้น จะต้องตรวจสอบก่อนว่า ค่าจำนวนชมและเรท จะต้องไม่ติดลบ.

ข้อมูลนำเข้า
- จำนวนจริง สำหรับชม.
- จำนวนจริง เรทเงินเดือน

ข้อมูลส่งออก
- จำนวนจริง สองตำแหน่ง แสดงผลเงินเดือนที่ได้


Example 1:
```
>Enter hours: 20
>Enter rate: 10
Your salary is 200.00
```

Example 2:
```
>Enter hours: -10
Invalid hours. Please reenter.
>Enter hours: -20
Invalid hours. Please reenter.
>Enter hours: 30
>Enter rate: 20
Your salary is 600.00
```

Example 3:
```
>Enter hours: -25
Invalid hours. Please reenter.
>Enter hours: 40
>Enter rate: -10
Invalid rate. Please reenter.
>Enter rate: 15
Your salary is 600.00
```

In [ ]:
# get hour
while True:
  hour = int(input('Enter hour: '))
  if hour > 0:
    break
  else:
    print('Invalid hour. Please reenter.')
# get rate
while True:
  rate = int(input('Enter rate: '))
  if rate > 0:
    break
  else:
    print('Invalid rate. Please reenter.')

# calculate salary
salary = hour*rate
print(f'Your salary is {salary:.2f}')

Enter hour: -20
Invalid hour. Please reenter.
Enter hour: -30
Invalid hour. Please reenter.
Enter hour: 20
Enter rate: -40
Invalid rate. Please reenter.
Enter rate: -1
Invalid rate. Please reenter.
Enter rate: 20
Your salary is 400.00