<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-1/blob/main/Repetition_Structure_and_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**: What is the output of this program?
```python
my_list = [1,2,3,4,7,12]
print(my_list[0], my_list[2], my_list[-1])
```

**Q2**: What is the output of this program?
```python
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num * 2, end=" ")
```

**Q3**: What is the output of this program?

```python
words = ['AAA','BBB','CCC','DDD','FFF']
for i in range(len(words)):
  if words[i] != 'BBB':
    print(words[i], end=',')
```

**Q4**: What is the output of this program?
```python
numbers = [1, 2, 3, 4]
numbers[1] = numbers[0] + numbers[1]
numbers[2] = numbers[1] + numbers[2]
numbers[3] = numbers[2] + numbers[3]
print(numbers)
```

**Q5**: What is the output of this program?
```python
seq1 = [1,2,3,4]
n1 = len(seq1)
seq2 = [323,1234,123156311]
n2 = len(seq2)
print(n1 > n2)
```

**Q6**: What will the following code print out?

```python
for i in range(0, 10, 3):
  for j in range(5, i, - 3):
     print(j, end='')  
```

**Q8**: What will the following code print out?
```python
total = 0
for i in range(0, 8, 2):
  for j in range(0, 3):
    if i > j:
      total += i
    else:
      total += 1
print(total)
```

**Q8**: Fill in the blank to print the index and value of each element:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for i in range(__):
  print(f"{i}: {fruits[__]}")

**Q9**: Complete the code to find the largest number in the list:

In [ ]:
numbers = [3, 7, 2, 8, 1]
largest = numbers[0]
for num in numbers:
    if num __ largest:
        largest = num
print(largest)

**Q10** Complete the code to print out the number of words in the list that are the same as the target.

In [ ]:
target = 'Hello'
words = ['Hello','Hello','hello','hell','hey','Hi','Hello','Hello There']
count = 0
for __________________________:
  if _______________________:
    ________________________
print(count)

**Q11**: Divisible sequence

Write a program that take in two numbers $n$ and $m$ from a user. <br> Then print out a sequence of numbers from 1 to $n$ separated by commas. <br> If a number in the sequence is divisible by $m$, print 'D' instead.

**Extra**: Don't print out any extra comma at the end.


Example:

```
Enter n: 20
Enter m: 4
1,2,3,D,5,6,7,D,9,10,11,D,13,14,15,D,17,18,19,D
```

```
Enter n: 100
Enter m: 3
1,2,D,4,5,D,7,8,D,10,11,D,13,14,D,16,17,D,19,20,D,22,23,D,25,26,D,28,29,D,31,32,D,34,35,D,37,38,D,40,41,D,43,44,D,46,47,D,49,50,D,52,53,D,55,56,D,58,59,D,61,62,D,64,65,D,67,68,D,70,71,D,73,74,D,76,77,D,79,80,D,82,83,D,85,86,D,88,89,D,91,92,D,94,95,D,97,98,D,100
```

**Q12**: Calculate variance

You are given a list of numbers. Your task is to calculate the variance of the list using the following formula

$var = \frac{1}{n}\sum_i^nx_i^2 - \mu^2$, where $x$ is the list of numbers, $n$ is the length of the list, and $\mu$ is the mean of the list, $\mu = \frac{\sum_i^nx_i}{n}$.

**Hint:** separate the calculation into two parts (two loops): the sum of square and the square of mean. Then subtract them at the en

In [ ]:
# simply use these test_list below to test use your code
# Comment out to test other lists
test_list = [1,2,3,4,5]            # The answer is 2
# test_list = [1,1,1,1,1]          # The answer is 0
# test_list = [9,1,4,12,0,-2,4,8]  # The answer is 20.5

n = len(test_list)                 # This return the length of a list.

# Your code below